.cookie-warning {
  background-color: $steel-gray;

  &__boundary {
    @include boundary();
    padding-top: 16px;
    padding-bottom: 18px;
    display: flex;
    justify-content: space-between;
  }

  &__message {
    color: $white;
  }
}
