<div class="product-detail__product-type">
  {% if content.field_optional_title.0 is not empty %}
    <a href="{{ url }}" class="product-detail__product-type-link extra-small">{{ ' See More ' ~ content.field_optional_title.0['#context']['value'] }}</a>
  {% else %}
    <a href="{{ url }}" class="product-detail__product-type-link extra-small"> {{ ' See More ' ~ name.0['#context']['value'] }}</a>
  {% endif %}
</div>
