<a class="featured-product__link" href="{{ url }}">
  <div class="featured-product__boundary">
    {% if content|render %}
      <div class="featured-product__featured-image">{{ content|without('field_optional_title') }}</div>
    {% endif %}
    
    <div class="featured-product__meta">

      {% if content.field_optional_title|render %}
        <div class="featured-product__title">{{ content.field_optional_title }}</div>
      {% else %}
        <div class="featured-product__title">{{ name }}</div>
      {% endif %}

      <div class="featured-product__more-link">view product</div>
    </div>
  </div>
</a>
