<div class="mega-menu__products-taxonomy" {{ attributes }}>
  {{ title_suffix }}
  <a href="{{ url }}">
    <div class="mega-menu__products-boundary">
      <div class="mega-menu__product-content">{{ content|without('field_optional_title') }}</div>
      {% if content.field_optional_title|render %}
        <div class="mega-menu__product-title">{{ content.field_optional_title }}</div>
      {% else %}
        <div class="mega-menu__product-title">{{ name }}</div>
      {% endif %}
    </div>
  </a>
</div>
