{#
/**
 * @file
 * Theme override to display a taxonomy term.
 *
 * Available variables:
 * - url: URL of the current term.
 * - name: Name of the current term.
 * - content: Items for the content of the term (fields and description).
 *   Use 'content' to print them all, or print a subset such as
 *   'content.description'. Use the following code to exclude the
 *   printing of a given child element:
 *   @code
 *   {{ content|without('description') }}
 *   @endcode
 * - attributes: HTML attributes for the wrapper.
 * - page: Flag for the full page state.
 * - term: The taxonomy term entity, including:
 *   - id: The ID of the taxonomy term.
 *   - bundle: Machine name of the current vocabulary.
 * - view_mode: View mode, e.g. 'full', 'teaser', etc.
 *
 * @see template_preprocess_taxonomy_term()
 */
#}
{# attach addthis external library url #}
{{ attach_library('follett/addthis') }}

<div class="product-type product-type__boundary">
  {{ title_prefix }}
  {{ title_suffix }}

  <div class="product-type__hero">
    {% if content.field_industry|render %}
      <div class="product-type__sidebar">
        {{ drupal_view('product_type_sidebar', 'product_sidebar') }}
      </div>
    {% endif %}
    <div class="product-type__share-this">
      <div class="share-this share-this__boundary">
        <span class="share-this__icon">{% include directory ~ '/templates/svg_includes/share.svg.twig' %}</span> <span class="extra-small cobalt">share</span>
      </div>
      <div class="addthis_toolbox share-this__toolbox">
        <div class="custom_images addthis__custom-images">
          <a class="addthis_button_email extra-small addthis__link cobalt"><img class="addthis__icon" src="{{ base_path ~ directory }}/images/svg/icon-email.svg" /><span class="addthis__text addthis__text--email">Email</span></a>
          <a class="addthis_button_print extra-small addthis__link cobalt"><img class="addthis__icon" src="{{ base_path ~ directory }}/images/svg/icon-print.svg" /><span class="addthis__text addthis__text--print">Print</span></a>
          <a class="addthis_button_link extra-small addthis__link cobalt"><img class="addthis__icon" src="{{ base_path ~ directory }}/images/svg/icon-copy.svg" /><span class="addthis__text addthis__text--copy">Copy Link</span></a>
        </div>
      </div>
    </div>

    <div class="product-type__description">
      {% if content.field_industry %}
        <div class="product-type__industry">{{ content.field_industry }}</div>
      {% endif %}

      {% if content.field_optional_title|render %}
        <h2 class="product-type__title">{{ content.field_optional_title }}</h2>

      {% else %}
        <h2 class="product-type__title">{{ name }}</h2>
      {% endif %}

      {% if content.field_hero_body_content %}
        <div class="product-type__hero-content">{{ content.field_hero_body_content }}</div>
      {% endif %}

        <div class="product-type__resources">
          {% if term.field_hide_sales_literature_link.value != '1' %}
            <div class="product-type__resource product-type__resource-sales">
              {% set _sales_url = '/sales-literature' %}
              {% if content.field_hero_sales_literature|render %}
                {% set _sales_url = content.field_hero_sales_literature[0]['#url'].toString() %}
              {% endif %}
              <a class="product-type__resource-link" href="{{ _sales_url }}" {% if content.field_hero_sales_literature[0]['#url'].isExternal() %}target="_blank" rel="nofollow noreferrer"{% endif %}>sales literature</a>
            </div>
          {% endif %}
          {% if term.field_hide_technical_documentati.value != '1' %}
            <div class="product-type__resource product-type__tech">
              {% set _tech_url = '/tech-support-and-resources/technical-documentation' %}
              {% if content.field_hero_tech_doc|render %}
                {% set _tech_url = content.field_hero_tech_doc[0]['#url'].toString() %}
              {% endif %}
              <a class="product-type__resource-link" href="{{ _tech_url }}" {% if content.field_hero_tech_doc[0]['#url'].isExternal() %}target="_blank" rel="nofollow noreferrer"{% endif %}>technical documentation</a>
            </div>
          {% endif %}
        </div>
    </div>
  </div>

  <div class="product-type__product-grid">
    {{ drupal_view('product_list_grid', 'product_list') }}
  </div>
</div>
