.featured-product-types {
  &__boundary {
    @include bp(md) {
      max-width: 1440px;
      margin: 0 auto;
      padding-left: 60px;
      padding-right: 60px;
    }
  }

  &__products {
    display: flex;
    flex-wrap: wrap;

    .field_product_type_subcategory {
      width: 100%;
      background-color: $black;
      position: relative;
      transform: perspective(1px) translateZ(0);

      .featured-product__title {
        color: $white;
      }

      &:nth-child(2n) {
        background-color: $white;

        .featured-product__title {
          color: $black;
        }
      }

      @include bp(xs2) {
        flex: 0 50%;
        display: flex;

        &:first-child {
          background-color: #080808;

          .featured-product__title {
            color: $white;
          }
        }
    
        &:nth-child(4n + 2) {
          background-color: $white;

          .featured-product__title {
            color: $black;
          }
        }
        
        &:nth-child(4n + 3) {
          background-color: $white;

          .featured-product__title {
            color: $black;
          }
        }
        
        &:nth-child(4n+4) {
          background-color: #080808;

          .featured-product__title {
            color: $white;
          }
        }
        
        &:nth-child(4n + 5) {
          background-color: #080808;

          .featured-product__title {
            color: $white;
          }
        }
      }

      @include bp(md) {
        height: 400px;

        &:before {
          content: "";
          z-index: -1;
          position: absolute;
          left: 0;
          right: 0;
          top: 0;
          bottom: 0;
          border: 0px solid $cobalt;
          transition: border-width .15s ease-out;
        }

        &:hover:before {
          transform: translateY(0);
          border-width: 20px;
        }

        &:hover {
          cursor: pointer;
        }

        &:first-child {
          .featured-product__meta {
            margin-left: 30px;
          }
        }

        &:nth-child(4n + 2) {
          .featured-product__boundary {
            flex-direction: row-reverse;
          }

          .featured-product__featured-image {
            margin-left: 30px;
          }

          .featured-product__featured-image img {
            margin-left: auto;
          }

          .featured-product__meta {
            margin-left: 0;
          }
        }
        
        &:nth-child(4n + 3) {
          .featured-product__boundary {
            flex-direction: row-reverse;
          }

          .featured-product__featured-image {
            margin-left: 30px;
          }

          .featured-product__featured-image img {
            margin-left: auto;
          }

          .featured-product__meta {
            margin-left: 0;
          }
        }
      }
    }
  }

  &__featured-image {
    height: 220px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;

    @include bp(xs2) {
      width: 50%;

      &.even {
        width: 100%;
      }
    }

    @include bp(md) {
      height: 400px;
    }
  }
}

.featured-product {
  &__boundary {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    height: 100%;
    width: 100%;
    align-items: flex-end;
    flex-direction: column;

    @include bp(md) {
      justify-content: space-between;
      flex-wrap: nowrap;
      flex-direction: row;
      align-items: center;
    }
  }

  &__title {
    font-family: $base-font-medium;
    font-size: 1.5rem;
    padding-bottom: 24px;

    &:before {
      content: '';
      width: 42px;
      height: 7px;
      display: block;
      background: url(#{$path-svg}four-dots.svg) no-repeat;
      background-size: contain;
    }

    @include bp(md) {
      font-size: 1.875rem;
    }
  }

  &__more-link {
    font-family: $base-font-heavy;
    text-transform: uppercase;
  }

  &__link {
    display: block;
    padding-bottom: 27px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 40px;

    @include bp(xs2) {
      width: 100%;
    }

    @include bp(md) {
      padding-left: 77px;
      padding-right: 80px;
      padding-bottom: 70px;
    }

    &:hover {
      text-decoration: none;
    }
  }

  &__meta {
    align-self: center;

    @include bp(md) {
      flex: 1;
      max-width: 197px;
      
    }
  }

  &__featured-image {
    padding-bottom: 40px;
    display: flex;
    align-self: center;
    max-width: 60px;

    @include bp(md) {
      max-width: none;
      display: block;
      padding-bottom: 0;
      flex: 1;
    }
  }
}

.industry-landing__featured-product-types {
  background-color: #F8F8F8;
}