.industry-landing__hero {
  &__boundary {
    position: relative;
    max-width: 1440px;
    margin: 0 auto;

    @include bp(md) {
      min-height: 500px;
      display: flex;
    }

    > div {
      @include bp(md) {
        flex: 1;
      }
    }
  }

  &__headline {
    font-family: $base-font-heavy;
    text-transform: uppercase;
    color: $dark-navy;
    padding-bottom: 6px;

    &:before {
      content: '';
      height: 7px;
      width: 42px;
      display: block;
      background: url(#{$path-svg}four-dots.svg) no-repeat;
      padding-bottom: 5px;
    }
    
    p {
      margin: 0;
      font-size: 2rem;
      line-height: 36px;
      letter-spacing: 1.5px;

      @include bp(md) {
        font-size: 3.25rem;
        line-height: 52px;
      }
    }
  }

  &__subheading {
    color: #5D6D75;
    padding-bottom: 20px;

    @include bp(md) {
      padding-bottom: 40px;
    }

    p {
      font-size: 1.25rem;
      line-height: 26px;
      margin: 0;

      @include bp(md) {
        margin: 0;
        font-size: 1.5rem;
        line-height: 32px;
      }
    }
  }

  &__content-boundary {
    padding-top: 66px;
    padding-bottom: 34px;
    padding-left: 20px;
    padding-right: 20px;

    @include bp(md) {
      padding-top: 117px;
      padding-bottom: 0;
      padding-left: 0;
      padding-right: 0;
    }
  }

  &__content-stage {
    @include bp(md) {
      padding-left: 60px;
      padding-right: 70px;
    }
  }

  &__content {
    color: #002542;
    padding-bottom: 30px;
  }

  &__resources {
    > div:first-child {
      padding-bottom: 20px;
      padding-right: 30px;
    }
  }

  &__resource {
    display: inline-block;
  }

  &__featured-image {
    height: 220px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;

    @include bp(md) {
      height: 500px;
    }
  }

  &__image-boundary {
    width: 100%;
  }

  &__resource-link {
    font-family: $base-font-heavy;
    text-transform: uppercase;

    &:before {
      content: '';
      display: inline-block;
      width: 17px;
      height: 23px;
      background: url(#{$path-svg}icon-file.svg) no-repeat;
      background-size: cover;
      vertical-align: sub;
      margin-right: 10px;
    }
  }
}