.industry-landing__news-section {
  background-color: #18252B;
  color: $white;

  .homepage-news,
  .homepage-news header {
    background-color: #18252B;
  }

  .homepage-news-teaser__title {
    color: $white;
  }
}