.industry-landing__solutions {
  &__boundary {
    @include bp(md) {
      max-width: 1440px;
      margin: 0 auto;
      padding-left: 60px;
      padding-right: 60px;
    }
  }

  &__placeholder {
    display: flex;
    height: 160px;

    @include bp(md) {
      height: 267px;
    }

    img {
      margin: 0 auto;
    }
  }

  &__title {
    font-family: $base-font-heavy;
    text-transform: uppercase;
    line-height: 26px;
    font-size: 1.25rem;
    text-align: center;
    padding-top: 31px;
    padding-bottom: 24px;

    @include bp(md) {
      font-size: 2.625rem;
      line-height: 50px;
      padding-top: 50px;
      padding-block-end: 50px;
    }
  }
}

.industry-landing__solution-items {
  @include bp(md) {
    display: flex;
    flex-flow: row wrap;

    > div {
      flex: 1;
      flex-basis: 25%;
      flex-wrap: wrap;
    }

    &.three-col {
      > div {
        flex-basis: 33%;
      }
    }

    &.five-col {
      > div {
        flex-basis: 20%;
      }
    }
  }

  > div {
    background-color: $light-gray;

    &:nth-child(2n) {
      background-color: $cool-gray;
    }
  }
}

.industry-landing__solution-item {
  &__boundary {
    display: flex;
    flex-wrap: wrap;
    height: 160px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: background-color .3s ease;

    @include bp(md) {
      height: 267px;
    }
  }
  &__heading {
    text-transform: uppercase;
    font-family: $base-font-heavy;
    letter-spacing: 1px;
    line-height: 18px;
    font-size: 0.875rem;
    color: #5D6D75;
    padding-bottom: 8px;
    transition: color .3s ease;

    .industry-landing__solution-item__link:hover & {
      color: $white;
    }
  }

  &__subheading p {
    font-family: $base-font-medium;
    text-transform: lowercase;
    font-size: 1.5rem;
    color: $dark-navy;
    margin: 0;
    padding-bottom: 14px;
    transition: color .3s ease;

    .industry-landing__solution-item__link:hover & {
      color: $white;
    }

    @include bp(md) {
      padding-bottom: 33px;
    }
  }

  &__arrow {
    width: 11px;
    height: 22px;
    display: block;
    background: url(#{$path-svg}right-arrow.svg) no-repeat;
    background-size: cover;


    &:before {
      content: '';
      position: absolute;
      display: block;
      width: 11px;
      height: 22px;
      opacity: 0;
      background: url(#{$path-svg}right-arrow-white.svg) no-repeat;
      background-size: cover;
      transition: opacity .3s ease;

      .industry-landing__solution-item__link:hover & {
        opacity: 1;
      }
    }
  }

  &__link {
    &:hover {
      text-decoration: none;

      .industry-landing__solution-item__boundary {
        background-color: $cobalt;
      }
    }
  }
}
