{#
/**
 * @file
 * Default theme implementation for a breadcrumb trail.
 *
 * Available variables:
 * - breadcrumb: Breadcrumb trail items.
 *
 * @ingroup themeable
 */
#}
{% if breadcrumb %}
  <nav role="navigation" aria-labelledby="system-breadcrumb">
    <h2 id="system-breadcrumb" class="visually-hidden">{{ 'Breadcrumb'|t }}</h2>
    {% for item in breadcrumb %}
      {% if item.url %}
        <a href="{{ item.url }}">{{ item.text }}</a>
        {% if not loop.last %}
          <div class="breadcrumb-seperator">
            {{ ' / '|t }}
          </div>
        {% endif %}
      {% else %}
        {{ item.text }}
        {% if not loop.last %}
          <div class="breadcrumb-seperator">
            {{ ' / '|t }}
          </div>
        {% endif %}
      {% endif %}
    {% endfor %}
  </nav>
{% endif %}
