{% if content.field_resource_type_list|render %}
  {% set resource_type = content.field_resource_type_list.0['#markup'] %}
{% endif %}

<div class="resources-teaser resources-teaser__boundary">
  <div class="resources-teaser__stage">

    {# mobile DOM #}
    <div class="resources-teaser__top-boundary">
      {% if content.field_resource_thumbnail|render %}
        <div class="resources-teaser__image"> <a href="{{ url }}">{{ content.field_resource_thumbnail }}</a></div>
      {% endif %}

      <div class="resources-teaser__info-boundary">
        {% if content.field_resource_title|render %}
          <div class="resources-teaser__title"> <a href="{{ url }}">{{ content.field_resource_title }}</a></div>
        {% endif %}
      </div>
    </div>

    {# desktop DOM #}
      {% if content.field_resource_thumbnail|render %}
        <div class="resources-teaser__image resources-teaser__image--desktop"> <a href="{{ url }}">{{ content.field_resource_thumbnail }}</a></div>
      {% endif %}

      <div class="resources-teaser__content-boundary">
        <div class="resources-teaser__info-boundary">
          {% if content.field_resource_title|render %}
            <div class="resources-teaser__title resources-teaser__title--desktop"> <a href="{{ url }}">{{ content.field_resource_title }}</a></div>
          {% endif %}
        </div>

        {% if content.field_resource_summary|render %}
          <div class="resources-teaser__summary"> {{ content.field_resource_summary }}</div>
        {% endif %}

        {% if content.field_literature_number|render or content.field_revision_date|render %}
          <div class="resources-teaser__resource-tag">
            {% if content.field_literature_number|render %}
              <div class="resources-teaser__lit-num">{{ content.field_literature_number }}</div>
            {% endif %}

            {% if content.field_literature_number|render and content.field_revision_date|render %}
              {{ ' | '|t }}
            {% endif %}

            {% if content.field_revision_date|render %}
              <div class="resources-teaser__date">{{ 'Revision Date: '|t }} {{ content.field_revision_date|field_value }}</div>
            {% endif %}
          </div>
        {% endif %}

        <div class="resources-teaser__links">
          <a class="resources-teaser__view-link {{ resource_type ? resource_type }}" href="{{ url }}">
            {% if content.field_teaser_link_text|render %}
              {{ 'View '|t }} {{ content.field_teaser_link_text|field_value }}
            {% elseif resource_type and resource_type == 'pdf' %}
              {{ 'View Brochure'|t }}
            {% else %}
              {{ 'View Video'|t }}
            {% endif %}
          </a>

          {% if content.field_pdf_document|render %}
            <a class="resources-teaser__download-link" href="{{ content.field_pdf_document.0['#download_link'].getUrl() }}">{{ 'download'|t }}</a>
          {% endif %}
        </div>
      </div>
  </div>
</div>