.document-print-order-form {

  .form-item-document-order {
    padding-bottom: 30px;

    .tabledrag-handle,
    .tabledrag-toggle-weight,
    .document_order-table--handle {
      display: none;
    }

    .document_order-table--order_quantity {
      padding-left: 20px;
      text-align: left;
    }


    .js-form-type-textfield label.visually-hidden {
      display: block;
      visibility: visible;
      height: auto;
      width: auto;
      position: relative!important;
      font-family: $base-font;
      letter-spacing: normal;
      text-transform: none;
      font-size: 1rem;
      padding-bottom: 0;

      @include bp(sm) {
        padding-left: 20px;
      }
    }

    .document_order-table--resource_item,
    .document_order-table--form_number {
      padding-left: 20px;
      padding-right: 20px;
      text-align: left;
    }

    .js-form-type-number label {
      display: none;
    }

    table {
      border-collapse: collapse;
      border-spacing: 0;
    }

    thead {
      background-color: #304049;
      color: $white;
      @extend .deck;
    }

    tbody {
       tr {
         background-color: $light-gray;
         padding-left: 20px;
         padding-right: 20px;
         padding-bottom: 38px;
         padding-top: 25px;
         display: block;

         @include bp(xs3) {
           padding: 0;
           display: table-row;
         }

         &:nth-child(even) {
          background-color: #F8F8F8;
         }
         
         td {
          padding-bottom: 30px;

          &:nth-child(3) {
            padding-bottom: 0;
          }

          @include bp(xs3) {
            padding-top: 10px;
            padding-bottom: 10px;

            &:nth-child(3) {
              padding-bottom: 10px;
            }
          }
         }
       }
    }

    td {
      display: block;
      white-space: normal;

      @include bp(xs3)  {
        display: table-cell;
      }

      &:before {
        content: attr(data-th);
        display: block;
        font-family: $base-font-heavy;
        text-transform: uppercase;
        color: #5D6D75;
        font-size: 0.75rem;
        padding-bottom: 2px;
  
        @include bp(xs3) {
          display: none;
        }
      }
    }

    td:first-child {
      display: none;
    }

    th {
      padding-top: 11px;
      padding-bottom: 11px;
      display: none;

      @include bp(xs3) {
        display: table-cell;
      }
    }



    input[type="text"] {
      display: none;
    }

    input[type="number"] {
      text-align: center;
      margin-left: 20px;
      width: 50px;
    }
  }
}