@import 'core/base';
@import 'core/fonts';
@import 'core/normalize';
@import 'core/variables';
@import 'core/general';
@import 'core/utilities';
@import 'core/mixins';
@import 'core/typography';

.blue-subeading {
  font-family: $base-font-medium;
  color: $black;
  margin-bottom: 8px;
  font-size: 1.5rem;
}

.subheading {
  @extend .h4;

  &:before {
    content: '';
    height: 7px;
    width: 42px;
    display: block;
    background: url(#{$path-svg}four-dots.svg) no-repeat;
  }
}

.disclaimer {
  color: #5D6D75;
  font-size: 0.875rem;
  margin-bottom: 38px;
  line-height: 22px;
}