{#
/**
 * @file
 * Default theme implementation of a webform actions.
 *
 * @see template_preprocess_webform_actions()
 * @see \Drupal\webform\WebformSubmissionForm::actionsElement
 * @see \Drupal\webform\WebformSubmissionForm::actions
 *
 * @ingroup themeable
 */
#}
<div class="webform__action-input">{{ element }}</div>
