{#
/**
 * @file
 * Default theme implementation to webform confirmation.
 *
 * Available variables:
 * - progress: Progress bar.
 * - message: Confirmation message.
 * - back_url: URL to the previous webform submission.
 *
 * @see template_preprocess_webform_confirmation()
 *
 * @ingroup themeable
 */
#}
{{ attach_library('webform/webform.confirmation') }}
{% set data = webform_submission.getData %}

<div{{ attributes.addClass('webform-confirmation') }}>

  {% if data['registrant_status'] == 'waiting' %}
    <div class="webform-confirmation__message">{{ 'Thanks for your interest in the Follett Service Seminar. Unfortunately, all available seats are currently filled. You have been placed on a waiting list and will receive an email when a seat becomes available.'|t }}</div>

  {% elseif data['registrant_status'] == 'registered' %}
    <div class="webform-confirmation__message">{{ 'Thank you for registering. A confirmation email will be sent to you.'|t }}</div>
    
  {% endif %}

  {% if back %}
    <div class="webform-confirmation__back">
      <a href="{{ back_url }}" rel="back" title="{{ back_label }}"{{ back_attributes }}>{{ back_label }}</a>
    </div>
  {% endif %}

</div>
