{#
/**
 * @file
 * Default theme implementation to webform confirmation.
 *
 * Available variables:
 * - progress: Progress bar.
 * - message: Confirmation message.
 * - back_url: URL to the previous webform submission.
 *
 * @see template_preprocess_webform_confirmation()
 *
 * @ingroup themeable
 */
#}
{{ attach_library('webform/webform.confirmation') }}
{% set data = webform_submission.getData %}

<div{{ attributes.addClass('webform-confirmation') }}>

  {% if message and data['cancelled'] == 'true' %}
    <div class="webform-confirmation__message">{{ message }}</div>

  {% elseif message %}
    <div class="webform-confirmation__message">{{ 'Could not confirm email address.'|t }}
  {% endif %}

  {% if back %}
    <div class="webform-confirmation__back">
      <a href="{{ back_url }}" rel="back" title="{{ back_label }}"{{ back_attributes }}>{{ back_label }}</a>
    </div>
  {% endif %}

</div>
