<section class="seminar-detail">
  {% if content.field_event_description|render %}
    <div class="seminar-detail__description"> {{ content.field_event_description }} </div>
  {% endif %}

  <div class="seminar-detail__details">
    <div class="seminar-detail__details-boundary">
      {% if content.field_seminar_date|render %}
        <div class="seminar-detail__date"> {{ content.field_seminar_date }} </div>
      {% endif %}

      {% if content.field_city|render or content.field_state|render %}
        <div class="seminar-detail__location">
          {% if content.field_city|render %}
            {{ content.field_city }}
          {% endif %}

          {% if content.field_city|render and content.field_state|render %}
            <span class="seminar-detail__comma">{{ ', '|t }}</span>
          {% endif %}

          {% if content.field_state|render %}
            {{ content.field_state }}
          {% endif %}
        </div>
      {% endif %}

      {% if content.field_event_address|render and content.field_address_format|render %}
        <a class="seminar-detail__address" href="https://maps.google.com/maps?q={{ content.field_event_address.0['#url_suffix'] }}&amp;hl={{ langcode }}&amp;t=m&amp;z=14" target="_blank">{{ content.field_address_format }}</a>
      {% endif %}

      {% if content.field_pdf_document_upload|render %}
        <div class="seminar-detail__download"><a class="seminar-teaser__download-link" href="{{ content.field_pdf_document_upload.0['#download_link'].getUrl }}">{{ 'download flyer'|t }}</a></div>
      {% endif %}
    </div>
  </div>

  {% if is_past %}
    <div class="seminar-detail__past-seminar-blurb"><h4>Note</h4><strong>{{ 'This seminar has already occurred. Use this registration form only if you attended the seminar without pre-registering so that we can document your attendance.'|t }}</strong></div>
  {% endif %}

  {% if content.field_seminar_webform|render %}
    <div class="seminar-detail__webform"> {{ content.field_seminar_webform }} </div>
  {% endif %}
</section>
