<section class="seminar-teaser">
  <div class="seminar-teaser__boundary">
    {% if content.field_seminar_date|render %}
      <div class="seminar-teaser__date">{{ content.field_seminar_date }}</div>
    {% endif %}

    {% if content.field_city|render or content.field_state|render %}
      <div class="seminar-teaser__location">
        {% if content.field_city|render %}
          {{ content.field_city }}
        {% endif %}

        {% if content.field_city|render and content.field_state|render %}
          <span class="seminar-teaser__comma">{{ ', '|t }}</span>
        {% endif %}

        {% if content.field_state|render %}
          {{ content.field_state }}
        {% endif %}
      </div>

    {% endif %}

    {% if content.field_event_address|render and content.field_address_format|render %}
       <a class="seminar-teaser__address" href="https://maps.google.com/maps?q={{ content.field_event_address.0['#url_suffix'] }}&amp;hl={{ langcode }}&amp;t=m&amp;z=14" target="_blank">{{ content.field_address_format }}</a>
    {% endif %}

    <div class="seminar-teaser__action-links">
      <a class="seminar-teaser__register" href="{{ url }}">{{ 'Register'|t }}</a>

      {% if content.field_pdf_document_upload|render %}
        <div class="seminar-teaser__download"><a class="seminar-teaser__download-link" href="{{ content.field_pdf_document_upload.0['#download_link'].getUrl }}">{{ 'download flyer'|t }}</a></div>
      {% endif %}
    </div>

  </div>
</section>
