$ease: ease;
$duration: 400ms;

.product-detail {
  position: relative;

  .flickity-enabled {
    &:focus {
      outline: none;
    }
  }

  &__hero {
    padding-bottom: 20px;
    padding-top: 47px;
    flex: 0 0 100%;

    @include bp(md) {
      padding-bottom: 32px;
      padding-top: 0;
      order: 1;
    }
  }

  &__boundary {
    padding-bottom: 55px;

    @include bp(md) {
      padding-top: 70px;
      padding-bottom: 70px;
    }
  }

  //main sideshow
  &__slideshow,
  &__hero-image {
    margin: 0 auto;
    overflow: hidden;
    margin-bottom: 45px;
    max-width: 280px;

    @include bp(md) {
      max-width: 527px;
    }

    .field_product_slideshow {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 214px;
      width: 100%;
      margin: 0 auto;

      @include bp(md) {
        height: 402px;
        max-width: 527px;
      }
    }

    img {
      margin: 0 auto;
    }
  }

  &__hero-image {
    padding-bottom: 0;
  }

  //main slideshow nav
  &__slideshow-nav {
    overflow: hidden;

    .field_product_slideshow {
      width: 60px;
      height: 46px;
      margin-right: 16px;

      @include bp(md) {
        height: 39px;
        width: 51px;
        margin-right: 12px;
      }

      &.is-selected {
        .field_product_slideshow_images:before {
          border-color: $cobalt;
        }
      }

      &:hover {
        cursor: pointer;

        .field_product_slideshow_images:before {
          border-color: $cobalt;
        }
      }

      img {
        height: 100%;
        margin: 0 auto;
      }

      div, article {
        height: 100%;
      }
    }

    .field_product_slideshow_images {
      position: relative;

      &:before {
        content: '';
        display: block;
        width: 60px;
        height: 46px;
        box-sizing: border-box;
        position: absolute;
        border: 1px solid #979797;
        transition: border-color .3s ease;

        @include bp(md) {
          height: 39px;
          width: 51px;
        }
      }

      &:hover:before {
        border: 2px solid $cobalt;
      }
    }
  }

  &__product-type-link {
    max-width: 150px;
    width: 100%;
    display: block;

    &:before {
      content: '';
      width: 6px;
      height: 11px;
      background: url(#{$path-svg}left-arrow.svg) no-repeat;
      background-size: contain;
      display: inline-block;
      position: relative;
      top: 1px;
    }
  }

  &__title {
    margin: 0 auto;
    text-align: center;

    @include bp(md) {
      order: 3;
      flex: 0 0 610px;
    }
  
    p {
      @extend .h3;
    }
  }

  &__top {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
    padding-top: 18px;

    @include bp(md) {
      padding-top: 0;
    }
  }

  &__share-this,
  &__product-type {
    flex: 50%;

    @include bp(md) {
      flex: 1px 1;
    }
  }

  &__product-type {
    @include bp(md) {
      order: 2;
    }

    > div {
      padding-bottom: 15px;

      &:last-child {
        padding-bottom: 0;
      }
    }
  }

  &__share-this {
    text-align: right;

    @include bp(md) {
      order: 4;
      position: relative;
    }

    .share-this__toolbox {
      z-index: 1;
      right: 0;
      text-align: left;
    }

    .share-this__boundary {
      z-index: 2;
    }
  }

  &__request-pricing {
    text-align: center;
    padding-top: 33px;
    padding-bottom: 40px;

    @include bp(md) {
      padding-top: 36px;
      padding-bottom: 66px;
    }
  }

  &__request-pricing-link {
    @include large-button($cobalt, $white, $black, 5px);
  }

  &__product-info__boundary {
    &--no-accordion {
      @include bp(md) {
        .field_product_description {
          margin: 0 auto;
        }
      }
    }

    @include bp(md) {
      display: flex;
      flex-direction: row;
    }
  }

  &__description {
    @include bp(md) {
      flex: 1;
    }

    .field_product_description {
      @include bp(md) {
        max-width: 545px;
      }
    }

    p {
      font-size: 1rem;
      color: $steel-gray;
      line-height: 24px;

      @include bp(md) {
        font-size: 1.125rem;
        line-height: 26px;
      }
    }
  }

  &__accordion {
    @include accordion();

    @include bp(md) {
      flex: 1;
    }

    .accordion {
      border-bottom: 1px solid $cool-gray;
    }

    .accordion-toggle {
      font-size: 1.125rem;
      line-height: 32px;

      @include bp(md) {
        font-size: 1.5rem;
      }
    }
  }
}


//add padding to content container
.node_product {
  .header__global {
    margin-bottom: 18px;

    @include bp(md) {
      margin-bottom: 0;
    }
  }
}
