.product-type {
  &__banner {
    height: 220px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    margin-bottom: 17px;

    @include bp(md) {
      height: 400px;
      margin-bottom: 40px;
    }
  }

  &__title {
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 10px;
    margin: 0;
  }

  &__hero {
    position: relative;
    overflow: hidden;
    @include display(flex);
    @include flex-wrap(wrap);
    @include justify-content(space-between);
    overflow: hidden;

    @include bp(md) {
      @include flex-wrap(nowrap);
    }
  }

  &__industry {
    font-family: $base-font-heavy;
    color: #A9B1B7;
    text-transform: uppercase;
    text-align: center;
    font-size: 0.875rem;
    line-height: 18px;
    letter-spacing: 1px;

    @include bp(md) {
      padding-bottom: 4px;
    }
  }

  &__resource-sales {
    @include bp(md) {
      padding-right: 40px;
    }
  }

  &__resources {
    @include bp(md) {
      @include display(flex);
      @include justify-content(center);
    }
  }

  &__hero-content {
    p {
      text-align: center;
      color: #5D6D75;
      line-height: 28px;
      font-size: 1.25rem;
      margin: 0;
      padding-bottom: 40px;

      @include bp(md) {
        padding-bottom: 50px;
        font-size: 1.5rem;
        line-height: 32px;
      }
    }
  }

  &__share-this {
    width: auto;

    @include bp(md) {
      @include order(3);
    }

    .share-this__toolbox {
      right: 0;
    }

    .share-this__boundary {
      text-align: right;
      padding-right: 0;
      padding-right: 23px;
    }
  }

  &__description {
    padding-top: 50px;
    width: 100%;

    @include bp(md) {
      padding-top: 0;
      max-width: 727px;
    }
  }

  &__sidebar {
    width: 50%;

    @include bp(md) {
      width: auto;
    }

    .field_industry {
      font-size: 0.75rem;
      color: $cobalt;
      font-family: $base-font-heavy;
      text-transform: uppercase;
      letter-spacing: .38px;
      line-height: 15px;

      &:after {
        content: '';
        width: 11px;
        height: 6px;
        background: url(#{$path-svg}down-arrow.svg) no-repeat;
        background-size: contain;
        margin-left: 10px;
        display: inline-block;
      }
    }
  }

  &__select-sidebar {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }

  &--sidebar-view {
    @include selectboxit-dropdown-styling();
    .selectboxit-container .selectboxit-options {
      z-index: 1;
    }
  }

  &__resource {
    text-align: center;
    padding-bottom: 22px;
  }

  &__resource-link {
    font-family: $base-font-heavy;
    text-transform: uppercase;

    &:before {
      content: '';
      display: inline-block;
      width: 17px;
      height: 23px;
      background: url(#{$path-svg}icon-file.svg) no-repeat;
      background-size: cover;
      vertical-align: sub;
      margin-right: 10px;
    }
  }
}