.product-list-grid {
  &--boundary {
    display: grid;
    justify-content: space-between;
    grid-template-columns: repeat(2, 1fr);
    -ms-grid-columns: 1fr 20px 1fr;
    grid-row-gap: 5px;
    grid-column-gap: 20px;


    @include bp(xs3) {
      grid-template-columns: repeat(4, 1fr);
      -ms-grid-columns: 1fr 40px 1fr 40px 1fr 40px 1fr;
      grid-column-gap: 40px;
      grid-row-gap: 40px;
      padding-top: 60px;
    }
  }

  &__specs {
    padding-top: 21px;
    border-top: 1px solid $cool-gray;
    border-bottom: 1px solid $cool-gray;
    margin-top: 10px;
  }

  &__request-pricing {
    padding-bottom: 20px;
  }

  .field_product_specifications {
    padding-bottom: 40px;

    &__label {
      line-height: 22px;
      text-transform: uppercase;
      font-family: $base-font-medium;
      font-size: 0.75rem;
      padding-bottom: 10px;

      @include bp(md) {
        font-size: 0.875rem;
      }
    }

    p {
      margin: 0;
      font-size: .875rem;
      line-height: 22px;
    }
  }

  &__literature-link,
  &__view-detail {
    padding-top: 8px;
    padding-bottom: 10px;
    border-bottom: 1px solid $cool-gray;
  }

  &__close-btn {
    width: 15px;
    height: 15px;
    margin-bottom: 10px;
    margin-left: auto;
    visibility: hidden;
    opacity: 0;
    transition: opacity .3s ease, visibility .3s ease;

    @include bp(md) {
      width: 19px;
      height: 19px;
      order: 1;
      flex: 0 0 auto;
      width: 100%;
      text-align: right;
    }

    .product-list-grid__item.open & {
      opacity: 1;
      visibility: visible;
    }
    
    svg {
      width: 15px;
      height: 15px;

      @include bp(md) {
        width: 19px;
        height: 19px;
      }
    }
  }

  &__item {
    padding-top: 20px;
    padding-left: 18px;
    padding-right: 18px;
    transition: background-color .3s ease;
    flex: 1;

    &.open {
      background-color: #F8F8F9;
    }

    &:hover {
      cursor: pointer;
      background-color: #F8F8F9;

      .product-list-grid__quick-preview {
        opacity: 1;
        visibility: visible;
      }
    }
  }

  &__item__boundary {
    padding-bottom: 25px;
    display: flex;
    justify-content: space-between;
    height: 100%;
    flex-direction: column;

    @include bp(md) {
      flex-direction: row;
      flex-wrap: wrap;
    }
  }

  &__teaser {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    @include bp(md) {
      order: 2;
      width: 100%;
      flex: 0 0 auto;
    }

    > div {
      width: 100%;
    }
  }

  &__detail {
    display: none;

    @include bp(md) {
      width: 100%;
      order: 3;
    }
  }

  &__image {
    padding-bottom: 30px;

    img {
      margin: 0 auto;
    }

    > .field_product_thumbnail {
      margin: 0 auto;
    }

    .field_product_thumbnail {
      width: 100%;
      height: 100%;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      max-width: 93px;
      height: 121px;

      @include bp(md) {
        max-width: 224px;
        height: 244px;
      }
    }
  }

  &__title p {
    font-size: 0.75rem;
    margin: 0;
    text-align: center;

    @include bp(md) {
      font-size: 1.125rem;
    }
  }

  &__quick-preview {
    text-align: center;
    transition: opacity .3s ease, visibility .3s ease;
    @include button-extra-small();
    padding-top: 20px;

    @include bp(md) {
      opacity: 0;
      visibility: hidden;
      font-size: 1rem;
    }
  }

  &__quick-preview__link {
    transition: opacity .3s ease, visibility .3s ease;

    @include bp(md) {
      @include underline-animation(5px, $cobalt);
      padding-bottom: 5px;
    }

    &.active {
      opacity: 0;
      visibility: hidden;
    }

    &:hover {
      cursor: pointer;
      text-decoration: none;
    }
  }
}

.request-pricing__link {
  @include medium-button($cobalt, $white, $black, 5px);
}