.sidebar-link-blocks {
  text-transform: uppercase;
  text-align: center;
  font-family: $base-font-medium;
  margin-bottom: 30px;

  @include bp(md) {
    margin-bottom: 0;
  }

  a {
    @include large-button($cobalt, $white, $black, 5px);
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    font-size: 0.875rem;

    @include bp(md) {
      font-size: 1rem;
    }

    &:hover {
      text-decoration: none;
    }
  }

  .views-row {
    padding-bottom: 14px;

    @include bp(md) {
      padding-bottom: 24px;
    }

    &:last-child {
      padding-bottom: 0;
    }
  }
}