.related-products {
  &__title {
    padding-bottom: 40px;

    @include bp(xs3) {
      padding-bottom: 10px;
    }

    @include bp(md) {
      max-width: 276px;
      width: 100%;
    }

    &:before {
      content: '';
      height: 7px;
      width: 42px;
      display: block;
      background: url(#{$path-svg}four-dots.svg) no-repeat;
      background-size: contain;
    }
  }

  &__items {
    @include display(flex);
    @include flex-wrap(wrap);

    @include bp(md) {
      @include flex(1);
    }

    .field_related_products {
      width: 48%;
      margin-right: 4%;
      @include display(flex);
      @include align-items(flex-end);
      @include justify-content(center);

      &:nth-child(2n) {
        margin-right: 0;
      }

      @include bp(xs3) {
        width: 23.5%;
        margin-right: 2%;
        

        &:nth-child(2n) {
          margin-right: 2%;
        }

        &:nth-child(4n) {
          margin-right: 0;
        }
      }

      @include bp(md) {
        width: 32%;

        &:nth-child(2n) {
          margin-right: 0;
        }


        &:nth-child(4n) {
          margin-right: 2%;
        }
      }
    }
  }

  &__boundary {
    background-color: $light-gray;

    @include bp(md) {
      margin-top: 50px;
    }
  }

  &__stage {
    @include boundary();
    padding-top: 42px;
    padding-bottom: 66px;

    @include bp(md) {
      @include display(flex);
    }
  }
}