<option value="/taxonomy/term/{{ row.tid }}">
  {% if row._entity.fields.field_optional_title.value %}
    {{ row._entity.fields.field_optional_title.value }}
  {% else %}
    {{ row._entity.getName }}
  {% endif %} 
</option>