{#
/**
 * @file
 * Default theme implementation to display a view of unformatted rows.
 *
 * Available variables:
 * - title: The title of this group of rows. May be empty.
 * - rows: A list of the view's row items.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's content.
 * - view: The view object.
 * - default_row_class: A flag indicating whether default classes should be
 *   used on rows.
 *
 * @see template_preprocess_views_view_unformatted()
 *
 * @ingroup themeable
 */
#}
<select class="product-type__select-sidebar" onchange="if (this.value) window.location.href=this.value">
  <option>{{ industry_name }} products</option>
  {% for row in rows %}
    {{ row.content }}
  {% endfor %}
</select>
