{#
/**
 * @file
 * Default theme implementation for main view template.
 *
 * Available variables:
 * - attributes: Remaining HTML attributes for the element.
 * - css_name: A css-safe version of the view name.
 * - css_class: The user-specified classes names, if any.
 * - header: The optional header.
 * - footer: The optional footer.
 * - rows: The results of the view query, if any.
 * - empty: The content to display if there are no rows.
 * - pager: The optional pager next/prev links to display.
 * - exposed: Exposed widget form/info to display.
 * - feed_icons: Optional feed icons to display.
 * - more: An optional link to the next page of results.
 * - title: Title of the view, only used when displaying in the admin preview.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the view title.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the view title.
 * - attachment_before: An optional attachment view to be displayed before the
 *   view content.
 * - attachment_after: An optional attachment view to be displayed after the
 *   view content.
 * - dom_id: Unique id for every view being printed to give unique class for
 *   Javascript.
 *
 * @see template_preprocess_views_view()
 *
 * @ingroup themeable
 */
#}
{{ attach_library('follett/addthis') }}
{%
  set classes = [
    dom_id ? 'js-view-dom-id-' ~ dom_id,
  ]
%}
<div{{ attributes.addClass(classes) }}>
  {{ title_prefix }}
  {{ title }}
  {{ title_suffix }}

  <div class="resources__filter-boundary">
    {% if header %}
      {{ header }}
    {% endif %}
    {{ exposed }}
  </div>

  <div class="resources-results__boundary resources-results__boundary{{ view_show_results ? '--visible' : '--hidden' }}">
    {% if footer %}
      <div class="resources-teaser__top-results">
        <div class="resources-teaser__results">{{ footer }}</div>

        <div class="resources-teaser__share-this">
          <div class="share-this share-this__boundary">
            <span class="share-this__icon">{% include directory ~ '/templates/svg_includes/share.svg.twig' %}</span> <span class="extra-small cobalt">share this list</span>
          </div>
          <div class="addthis_toolbox share-this__toolbox">
            <div class="custom_images addthis__custom-images">
              <a class="addthis_button_email extra-small addthis__link cobalt"><img class="addthis__icon" src="{{ base_path ~ directory }}/images/svg/icon-email.svg" /><span class="addthis__text addthis__text--email">Email</span></a>
              <a class="addthis_button_print extra-small addthis__link cobalt"><img class="addthis__icon" src="{{ base_path ~ directory }}/images/svg/icon-print.svg" /><span class="addthis__text addthis__text--print">Print</span></a>
              <a class="addthis_button_link extra-small addthis__link cobalt"><img class="addthis__icon" src="{{ base_path ~ directory }}/images/svg/icon-copy.svg" /><span class="addthis__text addthis__text--copy">Copy Link</span></a>
            </div>
          </div>
        </div>
      </div>
    {% endif %}

    {{ attachment_before }}

    <div class="resources-teaser__rows-boundary">
      {{ rows }}
      {{ empty }}
      <nav class="pager pager--load-more" role="navigation" aria-labelledby="pagination-heading">
        <a href="#/" disabled class="sales-pager-link" data-page="1">Load more</a>
      </nav>
    </div>
  </div>

  {{ attachment_after }}
  {{ more }}
  {{ feed_icons }}
</div>
