$ease: ease;
$duration: 400ms;

.paragraph--type--accordion-group {
  border-bottom: 1px solid $cool-gray;
  margin-bottom: 32px;

  .main-content__boundary--has-sidebar & {
    @include bp(md) {
      margin-right: 100px;
      max-width: 585px;
      margin-left: auto;
    }
  }

  @include bp(md) {
    margin-bottom: 54px;
  }

  dl {
    margin: 0;
  }

  dt {
    padding-top: 12px;
    padding-bottom: 16px;
    border-top: 1px solid $cool-gray;
    transition: color .3s ease;
    color: $steel-gray;

    &:hover {
      cursor: pointer;
      color: $cobalt;
    }

    p {
      @extend .h4;
      font-family: $base-font;
      margin-bottom: 0;
      font-size: 1.5rem;
      line-height: 32px;
      display: inline-block;
    }

    &.active {
      color: $cobalt;
    }
  }

  dd {
    margin: 0;
    padding-bottom: 30px;
  }

  .accordion-toggle {
    @include display(flex);
    @include justify-content(space-between);
  }

  .accordion-toggle__icon {
    width: 20px;
  	height: 20px;
    margin-top: 5px;
    margin-left: 10px;
  	cursor: pointer;
    position: relative;
    display: inline-block;
  	transition: transform $ease $duration;

  	&:before, &:after {
  		content: '';
  		position: absolute;
  		background-color: $cobalt;
  	}
  	&:before {
  		left: 50%;
  		margin-left: -1px;
  		width: 2px;
  		height: 20px;
  	}
  	&:after {
  		top: 50%;
  		margin-top: -2px;
  		height: 2px;
  		width: 20px;
  		transition: transform $ease $duration;
  	}

  	&.close {
  		transform: rotate( -90deg );
  		&:after {
  			transform: rotate( -90deg );
  		}
  	}
  }
}
