.paragraph--type--body-copy {
  @include ul-styling();
  padding-bottom: 32px;

  @include bp(md) {
    padding-bottom: 54px;
  }

  ol {
    padding-left: 20px;
  }

  .main-content__boundary--has-sidebar & {
    @include bp(md) {
      padding-right: 100px;
      max-width: 585px;
      margin-left: auto;
    }
  }

  p {
    margin-top: 0;
    margin-bottom: 20px;
  }

  .blue-subeading {
    font-family: $base-font-medium;
    color: $black;
    margin-bottom: 8px;
    font-size: 1.5rem;
  }

  .subheading {
    @extend .h4;

    &:before {
      content: '';
      height: 7px;
      width: 42px;
      display: block;
      background: url(#{$path-svg}four-dots.svg) no-repeat;
    }
  }

  .disclaimer {
    color: #5D6D75;
    font-size: 0.875rem;
    margin-bottom: 38px;
    line-height: 22px;
  }

  table {
    border-spacing: 0;
    width: 100%;
    max-width: 581px;
    margin-bottom: 16px;
  }

  th {
    background-color: $steel-gray;
    color: $white;
    text-transform: uppercase;
    font-weight: 700;
    padding-top: 16px;
    padding-bottom: 8px;
    padding-left: 16px;
    padding-right: 16px;
    text-align: left;
    display: none;

    @include bp(xs3) {
      display: table-cell;
    }
  }

  td {
    color: $steel-gray;
    line-height: 24px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 17px;
    display: block;

    &:first-child {
      padding-top: 25px;
    }

    @include bp(xs3) {
      display: table-cell;
      padding-top: 25px;
    }

    &:before {
      content: attr(data-th);
      display: block;
      font-family: $base-font-heavy;
      text-transform: uppercase;
      color: #5D6D75;
      font-size: 0.75rem;

      @include bp(xs3) {
        display: none;
      }
    }
  }

  tr {
    background-color: #F9F9F9;

    &:nth-child(2n){
      background-color: #E6EBED;
    }
  }
}
