.paragraph--type--embedded-image-with-text-wrap {
  padding-bottom: 32px;
  @include clearfix();
  @include wysiwyg-styles();


  .main-content__boundary--has-sidebar & {
    @include bp(md) {
      padding-right: 100px;
      max-width: 585px;
      margin-left: auto;
    }
  }

  @include bp(md) {
    padding-bottom: 54px;
  }

  .field_featured_photo {
    @include bp(md) {
      max-width: 271px;
    }
  }

  img {
    margin: 0 auto;
  }

  &.right {
    .field_featured_photo {
      margin-bottom: 16px;

      @include bp(md) {
        float: right;
        margin-left: 26px;
        margin-bottom: 29px;
      }
    }
  }

  &.left {
    .field_featured_photo {
      margin-bottom: 16px;

      @include bp(md) {
        float: left;
        margin-right: 26px;
        margin-bottom: 29px;
      }
    }
  }
}
