.paragraph--type--featured-photo {
  @include wysiwyg-styles();
  padding-bottom: 32px;
  margin: 0 auto;
  width: 100%;
  max-width: 787px;

  .main-content__boundary--has-sidebar & {
    @include bp(md) {
      max-width: 787px;
      margin-left: auto;
    }

    &.content-width {
      @include bp(md) {
        padding-right: 100px;
        max-width: 585px;
        margin-left: auto;
        margin-right: 0;
      }
    }
  }

  @include bp(md) {
    padding-bottom: 56px;
  }

  .field_featured_photo {
    margin: 0 auto;
  }

  .field_caption {
    @include caption-text();
  }
}
