.paragraph--type--pull-quote {
  padding-left: 14px;
  border-left: 3px solid $cobalt;
  margin-bottom: 34px;

  .main-content__boundary--has-sidebar & {
    @include bp(md) {
      max-width: 783px;
      margin-left: auto;
    }
  }

  @include bp(md) {
    margin-bottom: 54px;
  }

  p {
    @extend .h4;
    font-family: $base-font;
  }
}
