.paragraph__video-callout {
  &__video {

    @include bp(md) {
      max-width: 787px;
      width: 100%;
      height: 442px;
    }

    .main-content__boundary--has-sidebar & {
      @include bp(md) {
        max-width: 787px;
        margin-left: auto;
      }
    }

  }

  &__poster-image {
    position: absolute;
    top: 0;

    @include visible-md();
    rect,
    polygon {
      transition: fill .3s ease, stroke .3s ease;
    }

    &:hover {
      cursor: pointer;

      rect {
        fill: $cobalt!important;
      }
      polygon {
        stroke: $white!important;
      }
    }
  }

  &__play-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.paragraph--type--featured-video {
  position: relative;
  padding-bottom: 32px;

  @include bp(md) {
    max-width: 787px;
    width: 100%;
    padding-bottom: 69px;
    margin-left: auto;
  }

  .field_caption {
    @include caption-text();
  }
}
