#block-follett-local-tasks {
  @include boundary();

  ul {
    padding-left: 0;
  }
}

.user-login-form {
  padding-bottom: 50px;

  label {
    @extend .deck;
    display: block;
    padding-bottom: 20px;
  }

  .form-item {
    padding-bottom: 20px;
  }

  input[type=text],
  input[type=password] {
    font-family: $base-font;
    height: auto;
    font-size: 1.125rem;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid $cool-gray;
    transition: color .3s ease;
    padding-bottom: 8px;
    color: $dark-navy;

    &::placeholder {
      color: #A9B1B7;
    }

    &:focus {
      outline: none;
    }
  }
}

.input__boundary__input-type-log.in {
  input {
    @include reset_input();
    @include large-button($cobalt, $white, $black, 5px);

    &:hover {
      cursor: pointer;
    }
  }
}