{% if content.field_full_callout_image|render %}
  {% set background_url = content.field_full_callout_image.0['#markup'] %}
{% endif %}


{% if content.field_full_width_cta_link|render %}
  <a class="cta-callout__link" target="{{ content.field_full_width_cta_link.0['#options']['attributes']['target'] }}" href="{{content.field_full_width_cta_link.0['#url']}}" >
{% endif %}

<div class="cta-callout__boundary cta-callout__boundary--full-width {{ link_title ? 'has-title' }} " style="background-image: url('{{ background_url ? background_url }}');">
  <div class="cta-callout__text-boundary">
    {% if content.field_classification_heading|render %}
      {{ content.field_classification_heading }}
    {% endif %}
    {% if content.field_classification_heading|render == false %}
      <div class="cta-callout__dots"></div>
    {% endif %}
    {% if content.field_full_width_cta_heading|render %}
      {{ content.field_full_width_cta_heading }}
    {% endif %}
    {% if link_title and content.field_full_width_cta_link|render %}
      <div class="cta-callout__link-title">{{ link_title }} </div>

    {% else %}
      <span class="icon-right-arrow">{% include directory ~ '/templates/svg_includes/right-arrow.svg.twig' %}</span>
    {% endif %}
  </div>
</div>

{% if content.field_full_width_cta_link|render %}
  </a>
{% endif %}