<svg xmlns="http://www.w3.org/2000/svg" width="21" height="21" viewBox="0 0 21 21">
  <g fill="none" fill-rule="evenodd" stroke="#09F" stroke-linecap="square" stroke-width="2" transform="translate(1 1.023)">
    <path d="M18.4350686,0.434832955 L0.480494115,18.3894075"/>
    <path d="M18.4350686,0.434832955 L0.480494115,18.3894075" transform="matrix(-1 0 0 1 18.961 0)"/>
  </g>
</svg>
