<?xml version="1.0" encoding="utf-8"?>
<!-- Generator: Adobe Illustrator 21.1.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
<svg version="1.1" id="follett_f" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 1010.2 605" style="enable-background:new 0 0 1010.2 605;" xml:space="preserve">
<style type="text/css">
	.st0{fill:none;stroke:#004780;stroke-miterlimit:10;}
</style>
<path class="st0" d="M313.1,0.5h696.3l-76,145.4c0,0-127.2-0.8-147.7,0c-185.7,7.4-260.3,183-260.3,183h148.7l-66.3,125.4h-146
	l-78.2,150.2H0.8l308.7-604h1.7H313.1z"/>
</svg>
