<?xml version="1.0" encoding="utf-8"?>
<!-- Generator: Adobe Illustrator 21.0.2, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 1073.1 195.9" enable-background="new 0 0 1073.1 195.9" xml:space="preserve">
<path fill="#FFFFFF" d="M290.3,13.5L269,54.1c0,0-35.7-0.2-41.4,0c-52,2.1-73,51.1-73,51.1h41.7l-18.6,35h-40.9l-21.9,42H7.5
	L94.1,13.5H290.3z"/>
<polygon fill="#FFFFFF" points="399.3,60.4 335.8,182.1 443.8,182.1 459.6,151.8 427.3,151.9 475.1,60.4 "/>
<polygon fill="#FFFFFF" points="517.8,60.3 454.3,182.2 562.3,182.2 578.1,151.8 545.8,151.9 593.6,60.3 "/>
<polygon fill="#FFFFFF" points="765.2,60.4 637.1,60.4 573.3,182.2 702,182.2 717.5,152 662.5,152 670.9,136.5 725.7,136.5
	739.8,109.2 685.2,109.2 693.2,93.6 747.8,93.6 "/>
<polygon fill="#FFFFFF" points="1006.4,93.2 974.1,93.1 927.6,182.2 854.6,182.2 901,93.2 861.7,93.1 815.2,182.1 741.5,182.1
	788,93.2 758,93.1 775.2,60.4 1023.2,60.4 "/>
<path fill="#FFFFFF" d="M366.9,70.9c-5.2-10.6-24.1-10.4-24.1-10.4h-68.5c0,0-28.3,0.7-46.2,18.3c-17.9,17.5-33,53-33,53
	s-26.7,50.3,20.5,50.4c42.1,0.1,80.2,0.1,80.2,0.1s31.5,6.5,64.6-71.1C360.5,111.2,373.6,84.4,366.9,70.9 M257.3,146.2l26.9-49.9
	c2.8-4.5,6-4.9,11.2-4.6c9.4,0.3,14.8,1.9,7.5,14.9l-22.1,41.7c-3.3,5.5-9.6,4.5-21.4,4.2C259.4,152.5,254.5,150.7,257.3,146.2"/>
<path fill="#FFFFFF" d="M1030,78.5c0-9,7.3-16.3,16.4-16.3c9,0,16.3,7.3,16.3,16.3c0,9.1-7.3,16.4-16.3,16.4
	C1037.4,94.9,1030,87.6,1030,78.5 M1060.2,78.5c0-8-5.8-14.2-13.7-14.2c-8,0-13.9,6.2-13.9,14.2c0,8,5.8,14.3,13.9,14.3
	C1054.4,92.7,1060.2,86.5,1060.2,78.5 M1054.6,87.7h-2.7l-5.2-8.4h-4.1v8.4h-2.3V69.4h8c4.9,0,6.5,1.8,6.5,4.8c0,3.6-2.5,4.9-5.7,5
	L1054.6,87.7z M1046,77.5c2.6,0,6.4,0.4,6.4-3.3c0-2.9-2.3-3.2-4.6-3.2h-5.2v6.5H1046z"/>
</svg>
