<svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 100 100">
  <g fill="none" fill-rule="evenodd">
    <rect width="100" height="100" fill="#FFF"/>
    <polygon stroke="#09F" stroke-width="6" points="70.088 29.364 34.908 51.282 70.088 72.124" transform="matrix(-1 0 0 1 104.997 0)"/>
  </g>
</svg>
