<svg xmlns="http://www.w3.org/2000/svg" width="12" height="22" viewBox="0 0 12 22" class="icon-right-arrow">
  <polygon fill-rule="evenodd" points="11.277 0 0 11.277 11.277 22" transform="matrix(-1 0 0 1 11.277 0)"/>
</svg>
