<svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 19.6 23.18">
  <title>Group 3 Copy 3</title>
  <g>
    <path d="M6.46,15.29l-3.67,5.1" fill="none"  stroke-linecap="square" stroke-width="4"/>
    <ellipse cx="11.17" cy="8.53" rx="6.43" ry="6.53" fill="none" stroke-width="4"/>
  </g>
</svg>
