<svg xmlns="http://www.w3.org/2000/svg" width="14" height="21" viewBox="0 0 14 21">
  <g fill="none" fill-rule="evenodd" stroke="#09F" transform="translate(0 2)">
    <path stroke-width="2" d="M9.9837077 7.70354713L3.32805741 7.70972989 1 7.70972989 1 18 12.3122296 18 12.3122296 7.70787359 9.9837077 7.70354713zM6.61111111 12.9807999L6.61111111-7.62936543e-8"/>
    <polyline stroke-width="2" points="2.928 4.017 6.674 .33 10.057 4.017"/>
  </g>
</svg>
