{#
/**
 * @file
 * Default theme implementation for field collection items.
 *
 * Available variables:
 * - content: An array of comment items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {% hide(content.field_example) %} to temporarily suppress the printing
 *   of a given element.
 * - title: The (sanitized) field collection item label.
 * - url: Direct url of the current entity if specified.
 * - page: Flag for the full page state.
 * - attributes: HTML attributes for the surrounding element.
 *    Attributes include the 'class' information.
 * - content_attributes: HTML attributes for the content element.
 *
 * @see template_preprocess()
 * @see template_preprocess_entity()
 *
 * @ingroup themeable
 */
#}
{%
  set classes = [
    'field-collection-item',
    'field-collection-item--name-' ~ field_collection_item.name|clean_class,
    'field-collection-item--view-mode-' ~ field_collection_item.view_mode|clean_class,
  ]
%}

{% if content.field_background_image %}
  {% set background_url = content.field_background_image.0['#markup'] %}
{% endif %}

{% if content.field_cta_link %}
  <a class="cta-callout__link" href="{{ content.field_cta_link.0['#title'] }}">
{% endif %}

<div class="cta-callout__boundary" style="background-image: url('{{ background_url ? background_url }}');">
  <div class="cta-callout__text-boundary">
    {% if content.field_classification_heading %}
      {{ content.field_classification_heading }}
    {% endif %}
    {% if content.field_heading %}
      {{ content.field_heading }}
    {% endif %}

    <span class="icon-right-arrow">{% include directory ~ '/templates/svg_includes/right-arrow.svg.twig' %}</span>
  </div>
</div>

{% if content.field_cta_link %}
  </a>
{% endif %}
