{#
/**
 * @file
 * Default theme implementation for field collection items.
 *
 * Available variables:
 * - content: An array of comment items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {% hide(content.field_example) %} to temporarily suppress the printing
 *   of a given element.
 * - title: The (sanitized) field collection item label.
 * - url: Direct url of the current entity if specified.
 * - page: Flag for the full page state.
 * - attributes: HTML attributes for the surrounding element.
 *    Attributes include the 'class' information.
 * - content_attributes: HTML attributes for the content element.
 *
 * @see template_preprocess()
 * @see template_preprocess_entity()
 *
 * @ingroup themeable
 */
#}

{% if content.field_solutions_link|render %}
  <a class="industry-landing__solution-item__link" href="{{ content.field_solutions_link.0['#title'] }}">
{% endif %}

<div class="industry-landing__solution-item">
  <div class="industry-landing__solution-item__boundary">
    <div class="industry-landing__solution-item__heading">see solutions</div>
    {% if content.field_solution_title|render %}
      <div class="industry-landing__solution-item__subheading"> {{ content.field_solution_title|field_value }} </div>
    {% endif %}
    {% if content.field_solutions_link|render %}
      <span class="industry-landing__solution-item__arrow"></span>
    {% endif %}
  </div>
</div>

{% if content.field_solutions_link|render %}
  </a>
{% endif %}


