.ajax-throbber {
  &.sk-rotating-plane {
    background-color: $cobalt!important;
  }

  &__boundary {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);

    .ajax-throbber {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}


.throbber-overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  background-color: rgba(255,255,255,0.8);

  .ajax-throbber {
    top: 50%;
    left: 50%;
  }
}


