.path-search {
  header {
    padding-bottom: 32px;
  }

  .views-field-title {
    @extend .h4;
    margin: 0;
    padding-bottom: 4px;

    a {
      color: $black;
    }
  }
  .views-field-url {
    padding-bottom: 17px;
  }

  .views-field-search-api-excerpt {
    font-size: 1.125rem;
    line-height: 26px;

    strong {
      position: relative;

      &:after {
        content: '';
        display: block;
        position: absolute;
        bottom: 0;
        right: 0;
        height: 1px;
        width: 100%;
        background-color: $black;
      }
    }
  }

  #block-follett-content {
    @include bp(md) {
      padding-bottom: 92px;
    }
  }
}

.search {
  &__search-input {
    form {
      position: relative;
      padding-right: 30px;
      border-bottom: 1px solid $medium-gray;
      max-width: 580px;
    }

    input[type='text'] {
      @include reset_input();
      font-size: 1.875rem;
      font-family: $base-font;
      line-height: 36px;
      color: #5D6D75;
      padding-bottom: 7px;
      width: 100%;
    }
    
    button {
      @include reset_button();
      width: 24px;
      height: 28px;
      background: url(#{$path-svg}search-cobalt.svg) no-repeat;
      background-size: contain;

      &:hover {
        cursor: pointer;
      }
    }

    .form-actions {
      position: absolute;
      right: 0;
      top: 3px;
    }
  }

  &__result-summary {
    padding-top: 81px;
    @extend .deck;
    color: #5D6D75;
  }

  &__pager {
    ul {
      @include reset-ul();
    }

    li {
      display: inline-block;
      height: 50px;
      width: 50px;
      background-color: #5D6D75;
      position: relative;
      margin-right: 10px;
      font-family: $base-font-medium;
    }

    a,
    .pager-ellipse {
      color: $white;
    }
    
    .pager-ellipse {
      margin: 0 auto;
    }

    .pager__item--ellipsis {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    a {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-content: center;
      flex-direction: column;
      text-align: center;
      position: relative;
      overflow: hidden;

      &:before {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        background: $cobalt;
        height: 5px;
        transform: translateY(5px);
        transition: transform .3s ease-out;
      }

      &:hover {
        text-decoration: none;
      }

      &:hover:before {
        transform: translateY(0);
      }
    }

    .pager__items {
      display: flex;
      justify-content: center;
    }

    .is-active {
      background-color: $cobalt;
    }

    .prev-arrow,
    .next-arrow {
      height: 22px;
      width: 11px;
      display: block;
      background-size: contain;
      margin: 0 auto;
    }

    .prev-arrow {
      background: url(#{$path-svg}left-arrow-white.svg) no-repeat;
    }

    .next-arrow {
      background: url(#{$path-svg}right-arrow-white.svg) no-repeat;
    }
  }
}

.search-view {
  @include bp(md) {
    padding-right: 100px;
    max-width: 585px;
    margin-left: auto;
  }

  .views-row {
    border-bottom: 1px solid $cool-gray;
    padding-bottom: 30px;
    margin-bottom: 30px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}