.cta-callout--fullwidth {
  background-color: $cobalt;
  margin-top: 90px;
  position: relative;

  &:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border-color: $dark-navy;
    border-style: solid;
    border-width: 0;
    transition: border-width .2s ease-out;
  }

  &:hover,
  &:active {
    cursor: pointer;

    &:before {
      border-width: 20px;
      pointer-events: none;
      transform: translateY(0);
    }
  }

  p {
    margin: 0;
  }

  &__boundary {
    @include boundary();
  }

  &__stage {
    min-height: 300px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
  }

  .field_cta_heading {
    color: $black;
    @extend .h3;
    text-transform: lowercase;
    padding-bottom: 30px;
    

    @include bp(md) {
      padding-bottom: 15px;
    }

    &:before {
      content: '';
      width: 42px;
      height: 7px;
      display: block;
      background: url(#{$path-svg}four-dots-white.svg) no-repeat;
      margin: 0 auto;
      padding-bottom: 10px;
    }
  }

  .field_cta_heading_2 {
    color: $white;
    font-family: $base-font-heavy;
    text-transform: uppercase;
    letter-spacing: .5px;
    line-height: 20px;
    text-align: center;

    p {
      font-size: 1rem;
    }
  }

  &__link {
    &:hover {
      text-decoration: none;
    }


  }
}