html {
  height: 100%;
}

:root {
  font-size: 16px;
}

a {
  color: $cobalt;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

html, body {
  min-height: 100%;
  height: 100%;
  width: 100%;
  margin: 0; padding: 0;
}

body {
  font-size: 16px;
  line-height: 1.5;
  font-family: $base-font;
}

iframe, object, embed {
  max-width: 100%;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

.blur {
  -webkit-filter: blur(5px);
}

main {
  transition: filter .3s ease;
}

.no-scroll {
  overflow: hidden;
  position: fixed;
  height: 100%;
}

#block-follett-local-tasks {
  li {
    display: inline-block;
    margin-right: 20px;
    list-style: disc;
  }
}
