@mixin boundary() {
  max-width: 1320px;
  width: auto;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;

  @include bp(md) {
    padding-left: 60px;
    padding-right: 60px;
  }
}

@mixin mobile-boundary() {
  padding-left: 20px;
  padding-right: 20px;
}

.layout-content {
  @include boundary();

  &--has-sidebar {
    @include bp(md) {
      @include display(flex);
      @include flex-direction(row-reverse);
      @include justify-content(space-between);
    }
  }
}

.content-max {
  padding-left: 20px;
  padding-right: 20px;

  @include bp(md) {
    padding-right: 100px;
    padding-left: 0;
    max-width: 585px;
    margin-left: auto;
  }
}

.main-content__boundary--has-sidebar {
  @include bp(md) {
    #block-follett-local-tasks {
      padding-right: 100px;
      max-width: 585px;
      margin-left: auto;
      margin-right: 0;
      padding-left: 0;
    }

    @include flex(1);
  }
}
