
@mixin bp($point) {
  @if $point == xs {
     @media (min-width: 450px) { @content ; }
  }
  @else if $point == xs2 {
     @media (min-width: 550px) { @content ; }
  }
  @else if $point == xs3 {
     @media (min-width: 700px) { @content ; }
  }
  @else if $point == sm {
     @media (min-width: 768px) { @content ; }
  }
  @else if $point == md {
     @media (min-width: 1050px) { @content ; }
  }
  @else if $point == lg {
   @media (min-width: 1150px) { @content ; }
  }
}

@mixin placeholder {
  &.placeholder { @content; }
  &:-moz-placeholder { @content; }
  &::-moz-placeholder { @content; }
  &::-webkit-input-placeholder { @content; }
}

@mixin hide-text {
  text-indent: 100%;
  white-space: nowrap;
  position: relative;
  overflow: hidden;
}

@mixin clear-focus {
  outline: none;
  box-shadow: none;
}

@mixin ul-styling() {
  ul {
    list-style-type: none;
    padding-left: 20px;

    li:before {
      content: '\2014';
      position: absolute;
      margin-left: -20px;
    }
  }
}

@mixin clearfix() {
  &:after {
    content: " "; /* Older browser do not support empty content */
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
  }
}

@mixin underline-animation($underline-height, $background-color) {
  position: relative;
  display: inline-block;

  &:hover {
    text-decoration: none;
  }

  &:hover:after {
    height: $underline-height;
    opacity: 1;
    transform: translateY(0px);
  }

  &:after {
    content: '';
    opacity: 0;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 1px;
    background-color: $background-color;
    transition: height 0.3s, opacity 0.3s, transform 0.3s;
    transform: translateY(4px);
  }
}

@mixin selectboxit-dropdown-styling() {
  /* SelectBoxIt container */
  .selectboxit-container {
    position: relative;
    display: inline-block;
    vertical-align: top;
  }

  /* Button */
  .selectboxit-container .selectboxit {
    cursor: pointer;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: block;
    position: relative;
  }

  /* Focus pseudo selector */
  .selectboxit-container .selectboxit:focus {
    outline: 0;
  }

  /* Disabled Mouse Interaction */
  .selectboxit.selectboxit-disabled, .selectboxit-options .selectboxit-disabled {
    opacity: 0.65;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    cursor: default;
  }

  /* Button Text */
  .selectboxit-text {
    text-indent: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    float: left;
    padding-right: 20px;
  }

  .selectboxit .selectboxit-option-icon-container {
    display: none;
  }

  /* Options List */
  .selectboxit-container .selectboxit-options {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    min-width: 100%;  /* Minimum Width of the dropdown list box options */
    *width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    position: absolute;
    overflow-x: hidden;
    overflow-y: auto;
    cursor: pointer;
    display: none;
    z-index: 9999999999999;
    text-align: left;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }

  /* Individual options */
  .selectboxit-option .selectboxit-option-anchor {
    font-family: $base-font-heavy;
    font-size: .75rem;
    letter-spacing: .38px;
    text-transform: uppercase;
    color: $cobalt;
    transition: color .3s ease;
    padding-left: 0;
  }

  /* Individual Option Hover Action */
  .selectboxit-option .selectboxit-option-anchor:hover {
    text-decoration: none;
    color: $black;
  }

  .selectboxit-option {
    border-bottom: 1px solid $cool-gray;
    padding-top: 2px;
    padding-bottom: 2px;
  }

  /* Individual Option Optgroup Header */
  .selectboxit-option, .selectboxit-optgroup-header {
    text-indent: 5px; /* Horizontal Positioning of the select box option text */
    margin: 0;
    list-style-type: none;
  }

  /* The first Drop Down option */
  .selectboxit-option-first {
    display: none;
  }

  /* The first Drop Down option optgroup */
  .selectboxit-optgroup-header + .selectboxit-option-first {
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
  }

  /* The last Drop Down option */
  .selectboxit-option-last {
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
  }

  /* Drop Down optgroup headers */
  .selectboxit-optgroup-header {
    font-weight: bold;
  }

  /* Drop Down optgroup header hover psuedo class */
  .selectboxit-optgroup-header:hover {
    cursor: default;
  }

  /* Drop Down down arrow container */

  .selectboxit-open {
    .selectboxit-arrow-container {
      background: url(#{$path-svg}up-arrow-cobalt.svg) no-repeat;
      background-size: contain;
    }
  }
  .selectboxit-arrow-container {
    /* Positions the down arrow */
    top: 50%;
    transform: translateY(-50%);
    width: 11px;
    height: 6px;
    background: url(#{$path-svg}down-arrow.svg) no-repeat;
    background-size: contain;
    position: absolute;
    right: 0;
  }

  /* Drop Down down arrow */
  .selectboxit .selectboxit-arrow-container .selectboxit-arrow {
    /* Horizontally centers the down arrow */
    margin: 0 auto;
    position: absolute;
    top: 50%;
    right: 0;
    left: 0;
  }

  /* Drop Down down arrow for jQueryUI and jQuery Mobile */
  .selectboxit .selectboxit-arrow-container .selectboxit-arrow.ui-icon {
    top: 30%;
  }

  /* Drop Down individual option icon positioning */
  .selectboxit-option-icon-container {
    display: none;
  }

  .selectboxit-container .selectboxit-option-icon {
    margin: 0;
    padding: 0;
    vertical-align: middle;
  }

  /* Drop Down individual option icon positioning */
  .selectboxit-option-icon-url {
    width: 18px;
    background-size: 18px 18px;
    background-repeat: no-repeat;
    height: 100%;
    background-position: center;
    float: left;
  }

  .selectboxit-rendering {
    display: inline-block !important;
    *display: inline !important;
    zoom: 1 !important;
    visibility: visible !important;
    position: absolute !important;
    top: -9999px !important;
    left: -9999px !important;
  }

  /*
    Default Theme
    -------------
    Note: Feel free to remove all of the CSS underneath this line if you are not using the default theme
  */
  .selectboxit-btn {
    border-bottom: 1px solid $cool-gray;
    font-family: $base-font-heavy;
    color: $cobalt;
    text-transform: uppercase;
    font-size: .75rem;
    transition: color .3s ease;
  }

  .selectboxit-btn.selectboxit-enabled:hover,
  .selectboxit-btn.selectboxit-enabled:focus,
  .selectboxit-btn.selectboxit-enabled:active {

  }

  .selectboxit-btn.selectboxit-enabled:hover,
  .selectboxit-btn.selectboxit-enabled:focus {
    color: #333333;
    text-decoration: none;
    background-position: 0 -15px;
  }

  .selectboxit-list {
    background-color: #ffffff;
  }

  .selectboxit-list > .selectboxit-disabled > .selectboxit-option-anchor {
    color: #999999;
  }
}

@mixin medium-button($background-color, $text-color, $border-color, $border-size) {
  width: 100%;
  background-color: $background-color;
  position: relative;
  color: $text-color;
  display: inline-block;
  font-size: 0.875rem;
  padding-top: 10px;
  padding-bottom: 10px;
  letter-spacing: .25px;

  text-align: center;
  font-family: $base-font-medium;
  text-transform: uppercase;
  overflow: hidden;

  @include bp(md) {
    padding-top: 14px;
    padding-bottom: 14px;
    font-size: 1rem;
  }


  &:before {
    content: '';
    left: 0;
    background: $border-color;
    right: 0;
    bottom: 0;
    position: absolute;
    background: $border-color;
    height: $border-size;
    transform: translateY($border-size);
    transition: transform .3s ease-out;
  }

  &:hover:before {
    transform: translateY(0);
  }

  &:hover {
    text-decoration: none;
  }
}

@mixin large-button($background-color, $text-color, $border-color, $border-size) {
  background-color: $background-color;
  position: relative;
  color: $text-color;
  display: inline-block;
  font-size: 1rem;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 13.5px;
  padding-left: 13.5px;
  letter-spacing: .5px;
  line-height: 20px;

  text-align: center;
  font-family: $base-font-medium;
  text-transform: uppercase;
  overflow: hidden;

  &:before {
    content: '';
    left: 0;
    background: $border-color;
    right: 0;
    bottom: 0;
    position: absolute;
    background: $border-color;
    height: $border-size;
    transform: translateY($border-size);
    transition: transform .3s ease-out;
  }

  &:hover:before {
    transform: translateY(0);
  }

  &:hover {
    text-decoration: none;
    cursor: pointer;
  }
}

@mixin accordion() {
  dl {
    margin: 0;
  }

  dt {
    padding-top: 12px;
    padding-bottom: 16px;
    border-top: 1px solid $cool-gray;
    transition: color .3s ease;

    &:hover {
      cursor: pointer;
      color: $cobalt;
    }

    p {
      @extend .h4;
      font-family: $base-font;
      margin-bottom: 0;
      font-size: 1.5rem;
      line-height: 32px;
      display: inline-block;
    }

    &.active {
      color: $cobalt;
    }
  }

  dd {
    margin: 0;
    padding-bottom: 30px;
  }

  .accordion-toggle {
    @include display(flex);
    @include justify-content(space-between);
  }

  .accordion-toggle__icon {
    width: 20px;
    height: 20px;
    margin-top: 5px;
    margin-left: 10px;
    cursor: pointer;
    position: relative;
    display: inline-block;
    transition: transform $ease $duration;

    &:before, &:after {
      content: '';
      position: absolute;
      background-color: $cobalt;
    }
    &:before {
      left: 50%;
      margin-left: -1px;
      width: 2px;
      height: 20px;
    }
    &:after {
      top: 50%;
      margin-top: -2px;
      height: 2px;
      width: 20px;
      transition: transform $ease $duration;
    }

    &.close {
      transform: rotate( -90deg );
      &:after {
        transform: rotate( -90deg );
      }
    }
  }
}

@mixin clearfix {
 &:after {
   content: "";
   display: table;
   clear: both;
 }
}


@mixin selectboxit-options-multiline() {
  .selectboxit-options {

    background-color: $light-gray;

    .selectboxit-option {

      text-indent: 0;
      padding-left: 5px; 

      a.selectboxit-option-anchor {
        height: auto;
        line-height: 1.3;
        white-space: normal;
        border-bottom: 1px solid white;
        display: block;
        padding-top: 5px;
        padding-bottom: 5px;
      }
    }
  }
}
