//title
h1, .h1 {
  font-size: 1.8rem;
  line-height: 36px;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin: 0 0 em(6px);
  font-family: $base-font-heavy;

  @include bp(md) {
    font-size: 	3.25rem;
    line-height: 56px;
    letter-spacing: 1.25px;
    margin: 0 0 em(6px);
  }
}

//headline
h2, .h2 {
  font-size: 1.75rem;
  line-height: 34px;
  margin: 0 0 em(6px);
  font-family: $base-font-heavy;

  @include bp(md) {
    font-size: 2.625rem;
    line-height: 50px;
    margin: 0 0 em(6px);
  }
}

//subtitle
h3, .h3 {
  font-size: 1.5rem;
  line-height: 30px;
  margin: 0 0 em(6px);
  font-family: $base-font-medium;

  @include bp(md) {
    font-size: 1.875rem;
    line-height: 36px;
    margin: 0 0 em(6px);
  }
}


//subheadline
h4, .h4 {
  font-size: 1.25rem;
  line-height: 28px;
  margin: 0 0 em(8px);
  font-family: $base-font-medium;

  @include bp(md) {
    font-size: 1.5rem;
    line-height: 32px;
    margin: 0 0 em(8px);
  }
}

p {
  font-size: 1rem;
  line-height: 24px;

  @include bp(md) {
    font-size: 1.125rem;
    line-height: 26px;
  }
}

@mixin caption-text {
  p {
    font-size: 0.875rem;
    color: #5D6D75;
    border-left: 3px solid $cobalt;
    padding-left: 16px;
    margin-top: 16px;

    @include bp(md) {
      margin-top: 16px;
    }

    &:last-child() {
      margin-bottom: 0;
    }
  }
}

span.boldedblue {
  font-family: $base-font-heavy;
  text-transform: uppercase;
  line-height: 20px;
  color: $cobalt;
}

.deck {
  font-family: $base-font-heavy; 
  font-size: 0.875rem;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.extra-small {
  font-family: $base-font-heavy;
  text-transform: uppercase;
  font-size: .75rem;
  letter-spacing: .38px;
}

@mixin button-small() {
  letter-spacing: .5px;
  line-height: 20px;
  font-family: $base-font-heavy;
  text-transform: uppercase;
}

@mixin button-extra-small() {
  font-family: $base-font-heavy;
  text-transform: uppercase;
  line-height: 16px;
  font-size: 0.625rem;
  letter-spacing: .31px;
}

.cobalt {
  color: $cobalt;
}

.button {
  &--small {
    @include button-small();
  }
}

@mixin wysiwyg-styles() {
  p {
    margin-top: 0;
    margin-bottom: 20px;
  }

  .blue-subeading {
    font-family: $base-font-medium;
    color: $black;
    margin-bottom: 8px;
    font-size: 1.5rem;
  }

  .subheading {
    @extend .h4;

    &:before {
      content: '';
      height: 7px;
      width: 42px;
      display: block;
      background: url(#{$path-svg}four-dots.svg) no-repeat;
    }
  }

  .disclaimer {
    color: #5D6D75;
    font-size: 0.875rem;
    margin-bottom: 38px;
    line-height: 22px;
  }
}
