@mixin reset_button() {
  box-sizing: content-box;
  background: none;
  border: 0;
  color: inherit;
  font: inherit;
  line-height: normal;
  overflow: visible;
  padding: 0;
  -webkit-user-select: none; /* for button */
  -moz-user-select: none;
  -ms-user-select: none;

  &::-moz-focus-inner {
    border: 0;
    padding: 0;
  }
}

@mixin reset_input() {
  margin:0;
	border:0;
	padding:0;
	display:inline-block;
	vertical-align:middle;
	white-space:normal;
	background:none;
	line-height:1;
	box-sizing:content-box;
  -webkit-appearance: none;
  background-color: transparent;
}

@mixin reset_ul() {
  padding: 0;
  margin: 0;
  list-style: none;
}

@mixin visible-md(){
  display: none;

  @include bp(md) {
    display: block;
  }
}
