//color variables
$black: #000000;
$white: #FFFFFF;
$dark-navy: #011524;
$cobalt: #0099FF;
$steel-gray: #304048;
$medium-gray: #A9B1B8;
$cool-gray: #CBD1D5;
$light-gray: #EDEEF0;

$path-svg: '../images/svg/';
