.node_news_announcements {
  .menu__level1__list-item.active-trail {
    a {
      color: $cobalt!important;
    }
  }
}

.news-detail {
  &__boundary {
    position: relative;
  }

  .field_pub_date {
    color: #A9B1B7;
    font-family: $base-font-heavy;
    text-transform: uppercase;
    padding-bottom: 4px;
  }

  &__top {
    @include bp(md) {
      max-width: 585px;
      margin-left: auto;
      padding-right: 100px;
      width: 100%;
    }
  }

  &__top__stage {
    padding-bottom: 20px;
    @include display(flex);
    @include justify-content(space-between);
  }

  &__see-all-news {
    font-family: $base-font-heavy;
    text-transform: uppercase;
    font-size: .75rem;
    @include display(flex);
    @include align-items(flex-end);
  }

  &__share-this {
    position: relative;
  }

  &__see-all-news__link {
    &:before {
      content: '';
      display: inline-block;
      width: 7px;
      height: 13px;
      background: url(#{$path-svg}left-arrow.svg) no-repeat;
      background-size: contain;
      position: relative;
      top: 2px;
      margin-right: 6px;
    }
  }
}
