.homepage-news {
  background-color: $white;
  @include boundary();
  padding-top: 50px;
  padding-bottom: 65px;
  header {
    background-color: $white;
    text-align: center;
    @extend .h4;
    padding-left: 45px;
    padding-right: 45px;
    padding-bottom: 45px;
    font-size: 1.5rem;

    @include bp(md) {
      font-size: 	1.875rem;
      padding-bottom: 57px;
    }

    &:before {
      content: '';
      width: 42px;
      height: 7px;
      display: block;
      margin: 0 auto;
      background: url(#{$path-svg}four-dots.svg) no-repeat;
    }
  }

  .views-row {
    padding-bottom: 50px;

    &:last-child {
      padding-bottom: 0;
    }

    @include bp(md) {
      @include flex(1);
      @include display(flex);
      @include justify-content(center);
      padding-bottom: 0;
    }
  }
}

.homepage-news-teaser {
  &__boundary {
    @include bp(md) {
      @include display(flex);
      @include flex-direction(column);
      width: 100%;
    }
  }

  &__pub-date {
    text-align: center;
    color: #A9B1B7;
    padding-bottom: 6px;
    display: block;
  }

  &__title {
    display: block;
    text-align: center;
    color: $black;
    font-size: 1.25rem;
    padding-bottom: 5px;
    font-family: $base-font;
    width: 100%;

    @include bp(md) {
      font-size: 1.375rem;
      max-width: 310px;
      margin: 0 auto;
      padding-bottom: 30px;
    }
  }

  &__read-more {
    font-family: $base-font-heavy;
    text-transform: uppercase;
    text-align: center;
    display: block;

    @include bp(md) {
      margin-top: auto;
    }
  }

  &__rows {
    @include bp(md) {
      @include display(flex);
      @include justify-content(space-between);
    }
  }
}
