.news-landing {
  @include bp(md) {
    padding-right: 100px;
    padding-bottom: 100px;
    padding-left: 0;
    max-width: 585px;
    margin-left: auto;
  }

  .views-row {
    padding-bottom: 34px;

    &:last-child {
      padding-bottom: 37px;

      @include bp(md) {
        padding-bottom: 60px;
      }
    }

    @include bp(md) {
      padding-bottom: 66px;
    }
  }

  .pager {
    @include reset-ul();
    @extend .content-max;
    margin-left: auto;

    ul {
      padding: 0;
      margin: 0;
      list-style: none;
    }

    a {
      width: 100%;
      text-align: center;
      display: block;
      background-color: #5D6D75;
      color: $white;
      letter-spacing: .5px;
      text-transform: uppercase;
      font-family: $base-font-heavy;
      height: 50px;
      line-height: 50px;
      vertical-align: middle;

      @include underline-animation(5px, $cobalt);

      &:hover {
        text-decoration: none;
      }
    }
  }
}

.news-teaser {
  &__pub-date {
    display: block;
    color: #A9B1B7;
    margin-bottom: 2px;

    @include bp(md) {
      margin-bottom: 4px;
    }
  }

  &__title {
    color: $black;
    font-family: $base-font;
  }
}
