{{ title_prefix }}
{{ title_suffix }}
<section class="industry-landing__hero">
  <div class="industry-landing__hero__boundary">
    <div class="industry-landing__hero__content-boundary">
      <div class="industry-landing__hero__content-stage">
        {% if content.field_headline|render %}
          <div class="industry-landing__hero__headline">{{ content.field_headline }}</div>
        {% endif %}
        {% if content.field_hero_landing_subheading|render %}
          <div class="industry-landing__hero__subheading">{{ content.field_hero_landing_subheading }}</div>
        {% endif %}
        {% if content.field_hero_body_content_industry|render %}
          <div class="industry-landing__hero__content">{{ content.field_hero_body_content_industry }}</div>
        {% endif %}
        {% if (content.field_hero_sales_literature|render) or (content.field_hero_technical_doc|render) %}
          <div class="industry-landing__hero__resources">
            {% if content.field_hero_sales_literature|render  %}
              <div class="industry-landing__hero__literature industry-landing__hero__resource"> <a class="industry-landing__hero__resource-link" href="{{ content.field_hero_sales_literature.0['#title'] }}"> Sales Literature </a></div>
            {% endif %}
            {% if content.field_hero_technical_doc|render  %}
              <div class="industry-landing__hero__tech industry-landing__hero__resource"> <a class="industry-landing__hero__resource-link"  href="{{ content.field_hero_technical_doc.0['#title'] }}"> Technical Documentation </a></div>
            {% endif %}
          </div>
        {% endif %}
      </div>
    </div>

    {% if content.field_hero_image|render %}
      {{ content.field_hero_image }}
    {% endif %}
  </div>
</section>

{% if content.field_full_width_cta_top|render %}
  <section class="industry-landing__full-cta-callout-top">
    {{ content.field_full_width_cta_top }}
  </section>
{% endif %}

{% if content.field_featured_image_product|render or content.field_product_type_subcategory|render %}
  <section class="industry-landing__featured-product-types">
    <div class="featured-product-types__boundary">
      {% if content.field_product_type_subcategory|render %}
        <div class="featured-product-types__products">
          {{ content.field_product_type_subcategory }}
          {% if content.field_featured_image_product|render %}
            <div class="featured-product-types__featured-image {{ is_even ? 'even' }}" style="background-image: url('{{ content.field_featured_image_product.0['#markup'] }}');"></div>
          {% endif %}
        </div>
      {% endif %}
    </div>
  </section>
{% endif %}

<section class="industry-landing__news-section">
  {{ drupal_view('news_announcements', 'block_industry_landing') }}
</section>

{% if content.field_solutions|render %}
  <section class="industry-landing__solutions">
    <div class="industry-landing__solutions__boundary">
      {% if content.field_solutions_section_title|render %}
        <div class="industry-landing__solutions__title">{{ content.field_solutions_section_title }}</div>
      {% endif %}

      <div class="industry-landing__solution-items {{ columns ? columns }}">
        {{ content.field_solutions }}

        {% if placeholder %}
          <div class="industry-landing__solutions__placeholder"><img src="{{ svg_path ~ 'placeholder.svg' }}" /></div>
        {% endif %}
      </div>
    </div>
  </section>
{% endif %}

{% if content.field_full_width_cta_bottom|render %}
  <section class="industry-landing__full-cta-callout-bottom">
    {{content.field_full_width_cta_bottom}}
  </section>
{% endif %}
