.location-services {
  &__title {
    @extend .h4;
    font-family: $base-font;
    display: block;
    padding-top: 22px;
    border-top: 1px solid #979797;
    margin-top: 28px;
    margin-bottom: 33px;
  }

  &__btn {
    @include reset-button();
    @include large-button($cobalt, $white, $black, 5px);
  }

  &--form {
    input[type=text] {
      font-family: $base-font;
      height: auto;
      font-size: 1.125rem;
      border-top: 0;
      border-left: 0;
      border-right: 0;
      border-bottom: 1px solid $cool-gray;
      transition: color .3s ease;
      padding-bottom: 8px;
      color: $dark-navy;
      width: 100%;
  
      &::placeholder {
        color: #A9B1B7;
      }
  
      &:focus {
        outline: none;
      }
    }

    #edit-submit-service-agent-lookup {
      @include reset-button();
      @include large-button($cobalt, $white, $black, 5px);
      margin-top: 53px;
    }

    label {
      @extend .deck;
      display: block;
      padding-bottom: 18px;
    }

    .form-item-field-location-field-proximity {
      display: none;
    }

    .form-item-geolocation-geocoder-google-geocoding-api {
      padding-bottom: 53px;
    }
  }

  &--map {
    margin-bottom: 41px;
    margin-top: 80px;

    @include bp(md) {
      margin-top: 145px;
    }
  }

  &__filters-boundary {
    padding-left: 22px;
    padding-right: 28px;
    padding-top: 22px;
    padding-bottom: 34px;
    border: 1px solid $cool-gray;

    @include bp(md) {
      padding-top: 39px;
      padding-right: 33px;
      padding-bottom: 41px;
      padding-left: 44px;
    }
  }

  &__results {
    @extend .deck;
    color: #5D6D75;
  }

  &__results-information {
    padding-bottom: 60px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    @extend .content-max;

    a {
      @include button-small();
      position: relative;

      &:before {
        content: '';
        width: 19px;
        height: 20px;
        left: -27px;
        background: url(#{$path-svg}icon-print.svg) no-repeat;
        background-size: contain;
        display: block;
        position: absolute;
      }

      &:after {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 1px;
        background: $cobalt;
        content: '';
        opacity: 0;
        transition: height 0.3s, opacity 0.3s, transform 0.3s;
        transform: translateY(-10px);
      }
  
      &:hover {
        cursor: pointer;
        text-decoration: none;
  
        &:after {
          height: 5px;
          opacity: 1;
          transform: translateY(0px);
        }
      }
    }
  }

  &__results-row {
    @extend .content-max;

    @include bp(md) {
      padding-bottom: 92px;
    }

    .views-row {
      padding-bottom: 28px;
      margin-bottom: 32px;
      border-bottom: 1px solid $cool-gray;
    }

    h3 {
      margin: 0;
      padding-bottom: 23px;
      margin-bottom: 19px;
      border-bottom: 1px solid $cool-gray;

      &:before {
        content: '';
        width: 42px;
        height: 7px;
        display: block;
        background: url(#{$path-svg}four-dots.svg) no-repeat;
        padding-bottom: 3px;
      }
    }

    .pager {
      ul {
        @include reset-ul();
      }
  
      li {
        display: inline-block;
        height: 50px;
        width: 50px;
        background-color: #5D6D75;
        position: relative;
        margin-right: 10px;
        font-family: $base-font-medium;
      }
  
      a,
      .pager-ellipse {
        color: $white;
      }
      
      .pager-ellipse {
        margin: 0 auto;
      }
  
      .pager__item--ellipsis {
        display: flex;
        justify-content: center;
        align-items: center;
      }
  
      a {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-content: center;
        flex-direction: column;
        text-align: center;
        position: relative;
        overflow: hidden;
  
        &:before {
          content: "";
          position: absolute;
          left: 0;
          right: 0;
          bottom: 0;
          background: $cobalt;
          height: 5px;
          transform: translateY(5px);
          transition: transform .3s ease-out;
        }
  
        &:hover {
          text-decoration: none;
        }
  
        &:hover:before {
          transform: translateY(0);
        }
      }
  
      .pager__items {
        display: flex;
        justify-content: center;
      }
  
      .is-active {
        background-color: $cobalt;
      }
  
      .prev-arrow,
      .next-arrow {
        height: 22px;
        width: 11px;
        display: block;
        background-size: contain;
        margin: 0 auto;
      }
  
      .prev-arrow {
        background: url(#{$path-svg}left-arrow-white.svg) no-repeat;
      }
  
      .next-arrow {
        background: url(#{$path-svg}right-arrow-white.svg) no-repeat;
      }
    }
  }

  &__state-bundle {
    padding-bottom: 36px;
  }
}

.service-agent {
  &__title {
    @extend .h4;
    margin-bottom: 1px;
  }

  &__address {
    p {
      margin: 0;
    }
  }

  &__contact-numbers {
    @extend p;
    padding-top: 20px;
  }
}

.geolocation-common-map-container {
  .service-agent {
    &__title {
      @extend .deck;
    }
    &__address {
      p {
        color: #304048;
        font-size: 0.875rem;
        margin: 0;
      }
    }

    &__contact-numbers {
      @extend p;
      padding-top: 12px;
      color: #304048;
      font-size: 0.875rem;
    }
  }
}

// Hiding weird error from user -- complaining a field is required..
.path-tech-support-and-resources {

  div[role="alert"] {
    display: none;
  }

}