
.back-to-top {
  font-family: $base-font-heavy;
  font-size: 1rem;
  line-height: 16px;
  color: $cobalt;
  text-transform: uppercase;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 10px;
  max-width: 1320px;

  .region_footer_top & {
    @include bp(md) {
      display: none;
    }
  }

  @include bp(md) {
    padding-bottom: 32px;
    padding-top: 40px;
    padding-left: 0;
    margin-top: auto;
  }

  .body {
    display: inline-block;
    position: relative;

    &:before {
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      height: 1px;
      background: $cobalt;
      content: '';
      opacity: 0;
      transition: height 0.3s, opacity 0.3s, transform 0.3s;
      transform: translateY(-10px);
    }

    &:hover {
      cursor: pointer;

      &:before {
        height: 5px;
        opacity: 1;
        transform: translateY(0px);
      }
    }
  }

  &:before {
    content: '';
    width: 15px;
    height: 8px;
    display: inline-block;
    background: url(#{$path-svg}up-arrow-cobalt.svg) no-repeat;
    padding-left: 10px;
  }

  p {
    margin: 0;
    display: inline-block;
  }
}

.region_footer_top {
  position: relative;
}
