.alert {
  z-index: 1;

  &--cookie {
    background-color: $steel-gray;
    position: fixed;
    bottom: 0;
    width: 100%;
    display: none;

    &.show {
      display: block;
    }
  }

  &--europe {
    background-color: $cobalt;
    padding-top: 18px;
    padding-bottom: 23px;
    display: none;

    &.show {
      display: block;
    }
  }

  &__boundary {
    @include boundary();
    display: flex;
    flex-wrap: wrap;

    @include bp(xs2) {
      justify-content: space-between;
      flex-wrap: nowrap;
    }

    .alert--europe & {
      @include bp(xs2) {
        align-items: center;
      }
    }

    .alert--cookie & {
      justify-content: flex-end;
      padding-top: 21px;
      padding-bottom: 29px;

      @include bp(xs2) {
        padding-top: 16px;
        align-items: baseline;
        padding-bottom: 18px;
        justify-content: space-between;
      }
    }
  }

  &__body {
    .alert--cookie & {
      color: $white;
      padding-bottom: 28px;
      
      @include bp(xs2) {
        max-width: 430px;
        padding-bottom: 0;
      }

      @include bp(md) {
        max-width: none;
      }

      p {
        font-size: 0.8125rem;

        @include bp(xs2) {
          font-size: 1rem;
        }
      }
    }

    .alert--europe & {
      @include bp(xs2) {
        padding-right: 20px;
      }

      p {
        font-size: 1.25rem;
        margin-bottom: 15px;
        font-family: $base-font-medium;

        @include bp(xs2) {
          margin-bottom: 0;
          font-size: 1.875rem;
          line-height: 36px;
        }
      }
    }
  }

  &__button {
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 28px;
    min-width: 100px;
    display: inline-block;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 21px;
    padding-right: 22px;
    flex: 0 0 auto;
    font-family: $base-font-heavy;
    @include underline-animation(5px, $black);

    p {
      letter-spacing: .25px;
    }

    &:hover {
      cursor: pointer;
    }

    .alert--europe & {
      background-color: $white;
      display: block;
    }

    .alert--cookie & {
      background-color: $cobalt;
      color: $white;
    }
  }

  &__placeholder {
    display: none;

    &.show {
      display: block;
    }
  }

  &__link {
    display: block;
    width: 100%;

    &:hover {
      text-decoration: none;
    }

    @include bp(xs2) {
      width: auto;
    }
  }

  p {
    margin: 0;
  }
}