{# Recyling from resources content type #}
<header class="resource-detail__header">
  <div class="resource-detail__header-boundary">
    <div class="resource-detail__logo"><a href="{{ base_path }}"><img src="{{ base_url ~ '/' ~ directory ~ '/images/svg/logo_follett_white.svg' }}" /></a></div>
    <div class="resource-detail__pdf-title">{{ label }}</div>

    <div class="resource-detail__pdf-links-stage">
      <div class="resource-detail__prev-page"><a class="resource-detail__back-link resource-detail__sm-link" href="{{ referer ? 'javascript:history.back();' : base_path }}"> {{ 'back to follett'|t }} </a></div>
    </div>
  </div>
</header>

<main class="iframe-page">
  <section class="iframe-page__boundary">
    <iframe class="iframe-page__iframe" src="{{ content.field_moodle_iframe_link|field_value }}"></iframe>
  </section>
</main>
