.model-number-finder {
  border: 1px solid $cool-gray;

  &__boundary {
    padding-left: 38px;
    padding-right: 40px;
    padding-top: 34px;
    padding-bottom: 43px;
  }

  &__title {
    @extend .deck;
    padding-bottom: 13px;
  }

  label {
    @extend .deck;
    display: block;
    padding-bottom: 20px;
    color: $black;
  }

  &__results {
    border: 1px solid #979797;
    padding: 30px 30px 40px 30px;
  }

  &__results-default {
    border: 1px solid #A9B1B7;
    padding-top: 30px;
    padding-bottom: 36px;
    text-align: center;
    font-size: 1.125rem;
    color: #A9B1B7;
  }

  &__number {
    @extend .h4;
    color: $cobalt;
    text-align: center;
    margin-bottom: 0;
    padding-bottom: 30px;
  }

  &__description {
    p {
      @extend .h4;
      padding-bottom: 14px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .selectboxit {
    width: 100%;
  }

  .selectboxit-container .selectboxit {
    width: 100%!important;
  }
  
  .selectboxit-container {
    border-bottom: 1px solid $cool-gray;
    font-size: 1.125rem;
    color: $dark-navy;
    margin-bottom: 40px;
    width: 100%;

    .selectboxit-options {
      max-height: 240px!important;
      background-color: $white;
      width: 100%;
    }
  }

  .selectboxit-container span {
    max-width: none!important;
  }

  .selectboxit-btn.selectboxit-enabled {
    transition: color .3s ease;
  }

  .selectboxit-btn.selectboxit-enabled:hover {
    color: $cobalt;
  }

  .selectboxit-btn.selectboxit-enabled:active,
  .selectboxit-btn.selectboxit-enabled:focus {
    color: $dark-navy;
  }

  .selectboxit-option .selectboxit-option-anchor {
    transition: color .3s ease;
    padding: 0;
  }

  .selectboxit-option .selectboxit-option-anchor:hover {
    color: $cobalt;
  }

  .selectboxit .selectboxit-option-icon-container {
    position: absolute;
    right: 0;
  }

  .selectboxit .selectboxit-arrow-container .selectboxit-arrow {
    display: block;
    width: 16px;
    height: 8px;
    background: url(#{$path-svg}down-arrow.svg) no-repeat center center;
    background-size: contain;
    transition: transform .3s ease;
  }
  
  .selectboxit-option .selectboxit-option-icon-container {
    display: none;
  }

  .selectboxit.selectboxit-open .selectboxit-arrow-container .selectboxit-arrow {
    transform: rotate(180deg);
  }
}