{#
/**
 * @file
 * Default theme implementation to display a block.
 *
 * Available variables:
 * - plugin_id: The ID of the block implementation.
 * - label: The configured label of the block if visible.
 * - configuration: A list of the block's configuration values.
 *   - label: The configured label for the block.
 *   - label_display: The display settings for the label.
 *   - provider: The module or other provider that provided this block plugin.
 *   - Block plugin specific settings will also be stored here.
 * - content: The content of this block.
 * - attributes: array of HTML attributes populated by modules, intended to
 *   be added to the main container tag of this template.
 *   - id: A valid HTML ID and guaranteed unique.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * @see template_preprocess_block()
 *
 * @ingroup themeable
 */
#}
{# set variable for ternery placeholder #}

{% if content.field_form_placeholder is not empty %}
  {% set placeholder = content.field_form_placeholder.0['#context']['value'] %}
{% endif %}

<div class="custom-block__page_lookup {{ attributes.class }}">
  {% if content.field_form_title is not empty %}
    {{ content.field_form_title }}
  {% endif %}
  <form onSubmit="this.action='/node/'+this.node_url.value;" class="page_lookup__form">
    <input type="text" name="node_url" id="page_node_url" placeholder="{{ placeholder ?  placeholder }}" />
    <input type="submit" value="" />
  </form>
  {% if content.field_currently_viewing_text is not empty and node_id is not empty %}
    <div class="page_lookup__info">
      {{ content.field_currently_viewing_text }}
      <span class="page_lookup__id">{{ 'Page ' ~ node_id }}</span>
    </div>
  {% endif %}
</div>
