{#
/**
 * @file
 * Default theme implementation to display a block.
 *
 * Available variables:
 * - plugin_id: The ID of the block implementation.
 * - label: The configured label of the block if visible.
 * - configuration: A list of the block's configuration values.
 *   - label: The configured label for the block.
 *   - label_display: The display settings for the label.
 *   - provider: The module or other provider that provided this block plugin.
 *   - Block plugin specific settings will also be stored here.
 * - content: The content of this block.
 * - attributes: array of HTML attributes populated by modules, intended to
 *   be added to the main container tag of this template.
 *   - id: A valid HTML ID and guaranteed unique.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * @see template_preprocess_block()
 *
 * @ingroup themeable
 */
#}
{# TODO: preprocess variables #}
{% set target = content.field_image_link.0['#options']['attributes'].target %}

<div class="custom-block__image {{ attributes.class }}">
  {% if content.field_image_link %}
    <a class="custom-block__image-link" href="{{ content.field_image_link.0['#title'] }}" target="{{ target }}" >
      <div class="custom-block__image-boundary">
        {% if content.field_image_hover %}
          <img class="custom-block__hover-image" src="{{ content.field_image_hover.0['#markup'] }}" />
        {% endif %}
        {% if content.field_image %}
          <img class="custom-block__base-image" src="{{ content.field_image.0['#markup'] }}" />
        {% endif %}
      </div>
    </a>
  {% else %}
    <div class="custom-block__image-boundary">
      {% if content.field_image_hover %}
        <img class="custom-block__hover-image" src="{{ content.field_image_hover.0['#markup'] }}" />
      {% endif %}
      {% if content.field_image %}
        <img class="custom-block__base-image" src="{{ content.field_image.0['#markup'] }}" />
      {% endif %}
    </div>
  {% endif %}
</div>
