.cta-callout {
  &__boundary {
    position: relative;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-color: #002442;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 220px;

    @include bp(md) {
      height: 400px;
    }

    &:before {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      border-color: $cobalt;
      border-style: solid;
      border-width: 0;
      transition: border-width .2s ease-out;
    }

    .icon-right-arrow {
      fill: $cobalt;
    }

    .field_classification_heading {
      @extend .deck;
      letter-spacing: 1px;
      color: $medium-gray;
    }

    &.has-title {
      .field_heading,
      .field_full_width_cta_heading p {
        @include bp(md) {
          padding-bottom: 30px;
        }
      }
    }


    .field_heading,
    .field_full_width_cta_heading p {
      color: $white;
      font-family: $base-font-medium;
      line-height: 30px;
      font-size: 1.5rem;
      padding-bottom: 34px;

      @include bp(md) {
        line-height: 36px;
        font-size: 1.875rem;
        padding-bottom: 50px;
      }
    }
  }

  &__dots {
    width: 42px;
    height: 7px;
    background: url(#{$path-svg}four-dots.svg) no-repeat;
    background-size: contain;
    margin: 0 auto -20px auto;
  }

  &__link {
    &:hover {
      text-decoration: none;
    }

    &:hover,
    &:active {
      .cta-callout__boundary:before {
        border-width: 20px;
        transform: translateY(0);
      }
    }
  }

  &__link-title {
    font-family: $base-font-heavy;
    letter-spacing: .5px;
    line-height: 20px;
    font-size: 1rem;
    text-transform: uppercase;
  }

  &__text-boundary {
    text-align: center;

    @include bp(md) {
      max-width: 530px;
    }
  }
}
