.seminar-teaser {
  background-color: $light-gray;
  padding-top: 21px;
  padding-left: 22px;
  padding-right: 24px;
  padding-bottom: 28px;

  @include bp(xs2) {
    padding-top: 27px;
    padding-left: 29px;
    padding-right: 23px;
    padding-bottom: 30px;
  }

  &__date {
    @extend .deck;
    color: #5D6D75;
    padding-bottom: 34px;

    @include bp(xs2) {
      padding-bottom: 27px;
    }
  }

  &__comma {
    position: relative;
    right: 3px;
  }

  &__location {
    @extend .h3;

    div,
    span {
      display: inline;
    }
  }

  &__address {
    color: $black;
    display: inline-block;
    padding-bottom: 16px;

    p {
      margin: 0;
    }
  }

  &__register {
    @include large-button($cobalt, $white, $black, 5px);
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 20px;

    @include bp(xs2) {
      width: auto;
      padding-left: 20px;
      padding-right: 20px;
      margin-right: 29px;
      margin-bottom: 0;
    }
  }

  &__download {
    @include button-small();
  }

  &__download-link {
    &:before {
      content: '';
      display: inline-block;
      margin-right: 8px;
      position: relative;
      bottom: -5px;
      width: 19px;
      height: 25px;
      background: url(#{$path-svg}icon-download.svg) no-repeat;
      background-size: contain;
    }
  }

  &__action-links {
    @include bp(xs2) {
      display: flex;
      align-items: center;
    }
  }
}