.seminar-landing {
  @include bp(md) {
    padding-right: 100px;
    max-width: 585px;
    margin-left: auto;
    padding-bottom: 110px;
    margin-top: -35px;
  }

  .views-row {
    padding-bottom: 40px;
  }

  &__header-links {
    padding-bottom: 60px;

    @include bp(xs2) {
      display: flex;
    }

    a {
      display: block;
      padding-bottom: 20px;

      @include bp(xs2) {
        margin-right: 23px;
        padding-bottom: 0;

        &:last-child {
          margin-right: 0;
        }
      }

      &:last-child {
        padding-bottom: 0;
      }
    }
  }

  &__header {
    padding-bottom: 21px;

    @include bp(xs2) {
      display: flex;
      justify-content: space-between;
      align-items: baseline;
    }
  }

  &__title {
    display: block;
    padding-bottom: 27px;
    font-family: $base-font-medium;
    font-size: 1.5rem;

    @include bp(md) {
      padding-bottom: 0;
    }

    &:before {
      content: '';
      width: 42px;
      height: 7px;
      display: block;
      background: url(#{$path-svg}four-dots.svg) no-repeat;
      background-size: contain;
    }
  }

  .pager {
    @include reset-ul();
    @extend .content-max;
    margin-left: auto;

    ul {
      padding: 0;
      margin: 0;
      list-style: none;
    }

    a {
      width: 100%;
      text-align: center;
      display: block;
      background-color: #5D6D75;
      color: $white;
      letter-spacing: .5px;
      text-transform: uppercase;
      font-family: $base-font-heavy;
      height: 50px;
      line-height: 50px;

      @include underline-animation(5px, $cobalt);

      &:hover {
        text-decoration: none;
      }
    }
  }
}