.seminar-detail {
  &__details {
    background-color: $light-gray;
  }

  &__webform {
    margin-top: 40px;
  }

  &__attendee-link {

    /* 
     * Second Attendee link temporarily hidden per client request
     */
    display: none;

    @include button-small();
    margin-bottom: 11px;

    &:hover {
      cursor: pointer;
      text-decoration: none;
    }

    &:before {
      content: '';
      width: 20px;
      height: 20px;
      display: inline-block;
      background: url(#{$path-svg}expand-plus.svg) no-repeat;
      margin-right: 8px;
      background-size: contain;
      position: relative;
      top: 4px;
    }
  }

  &__details-boundary {
    padding-top: 21px;
    padding-left: 22px;
    padding-right: 24px;
    padding-bottom: 28px;
  
    @include bp(xs2) {
      padding-top: 27px;
      padding-left: 29px;
      padding-right: 23px;
      padding-bottom: 30px;
    }
  }

  &__address {
    color: $black;
    display: inline-block;
    padding-bottom: 16px;

    @include bp(sm) {
      padding-bottom: 42px;
    }

    p {
      margin: 0;
    }
  }

  &__comma {
    position: relative;
    right: 3px;
  }

  &__date {
    @extend .deck;
    color: #5D6D75;
    padding-bottom: 34px;

    @include bp(xs2) {
      padding-bottom: 27px;
    }
  }

  &__location {
    @extend .h3;

    div,
    span {
      display: inline;
    }
  }

  &__download-link {
    &:before {
      content: '';
      display: inline-block;
      margin-right: 8px;
      position: relative;
      bottom: -5px;
      width: 19px;
      height: 25px;
      background: url(#{$path-svg}icon-download.svg) no-repeat;
      background-size: contain;
    }
  }
  &__download {
    @include button-small();
  }

  &__past-seminar-blurb {
    margin-top: 40px;
  }
}