$ease: ease;
$duration: 400ms;
.header__global {
  background-color: $dark-navy;
  z-index: 3;
  position: relative;
}

.header {
  z-index: 1;
  &-navigation__boundary {
    position: fixed;
    overflow-y: auto;
    top: 73px;
    bottom: 0;
    background-color: $dark-navy;
    right: 0;
    width: 100%;
    z-index: 2;
    padding-top: 37px;
    transform: translate3d(100%, 0, 0);
    visibility: visible;
    transition: transform .4s ease;

    &.slideInLeft {
      transform: translate3d(0, 0, 0);
    }
    @include bp(xs3) {
      max-width: 320px;
    }


    @include bp(md) {
      position: relative;
      transition: none;
      overflow: hidden;
      transform: none;
      max-width: none;
      padding-top: 0;
      top: 0;
    }
  }

  &__boundary {
    @include boundary();
    padding-top: 17px;
    padding-bottom: 15px;
    @include display(flex);
    @include justify-content(space-between);

    @include bp(md) {
      padding-top: 0;
      padding-bottom: 0;
    }
  }

  &__logo {
    max-width: 164px;

    @include bp(md) {
      max-width: 217px;
      padding-bottom: 25px;
    }
  }

  &-first {
    @include bp(md) {
      @include display(flex);
      @include align-items(flex-end);
      width: 260px;
    }
  }

  &-bottom {
    @include bp(md) {
      width: 100%;
      z-index: 2;
      position: absolute;
      transform: translate3d(0, -100%, 0);
      visibility: visible;
      transition: transform .5s ease;
      &.slide-down {
        transform: translate3d(0, 0, 0);
      }
    }
  }

  &-bottom__boundary {
    overflow: hidden;
    width: 100%;
  }

  &-second {
    &__boundary {
      padding-left: 20px;
      padding-right: 20px;
      padding-bottom: 71px;

      @include bp(md) {
        padding-bottom: 0;
        padding-left: 0;
        padding-right: 0;
      }
    }
  }

  &-third {
    &__boundary {
      @include bp(md) {
        @include display(flex);
        @include justify-content(flex-end);
      }
    }
  }

  // Hamburger Menu
  &__hamburger {
    width: 32px;
    padding-left: 2px;

    @include bp(md) {
      display: none;
    }

    &:focus {
      outline: none;
    }
  }

  &__hamburger-text {
    color: $white;
    font-family: $base-font-medium;
    font-size: 0.625rem;
    text-transform: uppercase;
    letter-spacing: .25px;
    overflow: hidden;
    position: relative;
  }

  &__menu-text {
    display: block;
    position: relative;
    transition: transform .263s ease-out;
    transition-delay: .3s;
    text-align: center;

    .header__hamburger-text.active & {
      transform: translateY(15px);
      transition-delay: 0s;
    }
  }


  &__close-text {
    color: $cobalt;
    position: absolute;
    transition: transform .263s ease-out;

    .header__hamburger-text.active & {
      transform: translateY(-15px);
      transition-delay: .3s;
    }
  }
}

.hamburger {
  &__boundary {
    position: relative;
    width: 32px;
  	height: 20px;
  	cursor: pointer;
    margin-bottom: 7px;
    padding-left: 2px;

    &:focus {
      outline: none;
    }

  	&:before, &:after {
  		content: '';
  	}

    .hamburger__middle, &:before, &:after {
  		position: absolute;
  		width: 29px;
  		height: 2px;
  		background-color: #FFF;
  	}

    .hamburger__middle {
  		top: 50%;
      margin-top: -2px;
      @include transition(transform $ease ($duration/2));
  	}

  	&:before {
  		top: 0;
      transition: top ($duration/2) $ease ($duration/2), transform $ease ($duration/2);
  	}

  	&:after {
  		bottom: 0px;
      transition: bottom ($duration/2) $ease ($duration/2), transform $ease ($duration/2);
  	}

    &.close {
      .hamburger__middle, &:before, &:after {
        background-color: $cobalt;
      }
      .hamburger__middle {
        @include transform(rotate(-45deg));
        transition: transform ($duration/2) $ease ($duration/2);
  		}

  		&:before {
  			top: 8px;
        @include transform(rotate(-45deg));
        transition: top $ease ($duration/2), transform ($duration/2) $ease ($duration/2);
  		}

  		&:after {
  			bottom: 11px;
        @include transform(rotate(45deg));
        transition: bottom $ease ($duration/2), transform ($duration/2) $ease ($duration/2);
  		}
    }
  }
}


.navigation {
  &__primary {
    font-family: $base-font-heavy;
    text-transform: uppercase;

    @include bp(md) {
      display: none;
    }

    .menu__link {
      color: $white;
      text-decoration: none;
      font-size: 1.125rem;
    }
  }

  &__secondary {
    font-family: $base-font;
    font-size: 1rem;

    @include bp(md) {
      display: none;
    }

    .menu__link {
      color: $white;
      text-decoration: none;
      letter-spacing: .22px;
    }
  }
}
