.navigation {
  &__secondary--desktop,
  &__primary--desktop {
    @include visible-md();

    > ul {
      @include display(flex);
      @include reset_ul();
      @include justify-content(flex-end);
      text-transform: uppercase;
    }

    a {
      color: $white;
      text-decoration: none;
    }
  }

  &__secondary--desktop {
    font-size: 0.8125rem;

    .link-container {
      &:before {
        content: '';
        height: 5px;
        width: 100%;
        display: block;
        transition: background-color .3s ease;
      }

      &:hover {
        &:before {
          background-color: $cobalt;
        }
      }
    }

    li {
      padding-right: 33px;

      &:last-child {
        padding-right: 0;
      }
    }

    .active-parent {
      .link-container {
        &:before {
          background-color: $cobalt;
        }
      }

      a {
        color: $cobalt;
      }
    }

    a {
      transition: color .3s ease;
      padding-top: 10px;
      display: block;

      &:hover {
        color: $cobalt;
      }
    }
  }

  &__primary--desktop {
    font-family: $base-font-heavy;
    font-size: 1.375rem;
    padding-top: 33px;

    @include bp(md) {
      padding-right: 10px;
    }

    a {
      display: block;
      padding-bottom: 16px;
      position: relative;
      transition: color .3s ease;

      &.is-active,
      &.hover {
        color: $cobalt;

        &:after {
          background-color: $cobalt;
        }
      }

      &:after {
        content: '';
        height: 5px;
        width: 100%;
        display: block;
        position: absolute;
        bottom: 0;
        transition: background-color .3s ease;
      }

      &:hover, {
        color: $cobalt;

        &:after {
          background-color: $cobalt;
        }
      }
    }

    li {
      padding-right: 71px;

      &:last-child {
        padding-right: 68px;
      }
    }
  }
}
