.navigation__primary {
  &.menu-collapsed {
    &__menu {

      ul {
        position: relative;
        margin: 0;
        padding: 0;
      }

      li {
        display: block;
        position: relative;
        padding-left: 0;
      }

      .link-container {

        position: relative;

        a {
          display: block;
        }
      }

      // Accordion menus
      .sub-menu {
        display: none;
      }

      .menu {
        &__list-item {
        }

        &__link {
          &.is-active {
            color: $cobalt;
          }
        }

        &__level1 {

          &__list-item {

            &:last-child {
              .menu__link {
                &:last-child {
                  border-bottom: 1px solid #5D6D75;
                }
              }
            }
          }

          &__link {
            padding-top: 25px;
            padding-bottom: 19px;
            padding-right: 30px;
            border-top: 1px solid #5D6D75;
          }
        }

        &__level2 {

          &__list-item {
          }

          &__link {
            font-family: $base-font;
            font-size: 1rem;
            text-transform: uppercase;
            padding-top: 25px;
            padding-right: 36px;
            padding-bottom: 19px;
            border-top: 1px solid #5D6D75;
          }
        }

        &__level3 {

          &__list-item {
          }

          &__link {
            font-size: 1.125rem;
            font-family: $base-font;
            padding-top: 24px;
            padding-bottom: 18px;
            text-transform: none;
            border-top: 1px solid #5D6D75;
          }
        }

        &__level4 {

          &__list-item {
          }

          &__link {
            padding-top: 20px;
            padding-bottom: 14px;
            border-top: 1px solid #5D6D75;
            padding-left: 28px;
          }
        }
      }
    }
  }
  .menu-collapsed__expand {
    -webkit-appearance: none;
    position: absolute;
    right: 0;
    top: 0;
    width: 44px;
    height: 100%;

    @include reset_button();
    background-position: right top;

    &:before {
      content: '';
      width: 22px;
      height: 12px;
      position: absolute;
      background: url(#{$path-svg}down-arrow.svg) no-repeat;
      background-size: contain;
      right: 0;
      top: 30px;
      transition: transform .3s ease-out;
    }

    &:hover {
      cursor: pointer;
    }

    &.active-btn {
      &:before {
        transform: rotate(180deg);
      }
    }

    &:focus {
      outline: none;
    }
  }
}
