.search-form {
  &__mobile {
    background-color: $black;
    @include mobile-boundary();
    position: relative;
    padding-right: 39px;
    padding-top: 23px;
    padding-bottom: 19px;

    @include bp(md) {
      display: none;
    }

    .form-text {
      @include reset_input();
      font-family: $base-font;
      font-size: 1.125rem;
      width: 100%;
      background-color: $black;
      color: $white;


      @include placeholder {
        color: $white;
      }

      &:focus {
        outline: 0;
      }
    }

    input[type="submit"] {
      background-color: transparent;
      border: 0;
    }

    .form-actions {
      @include reset_input();
      position: absolute;
      right: 21px;
      top: 23px;
      width: 18px;
      height: 22px;
      background: url(#{$path-svg}search-cobalt.svg) no-repeat;

      background-size: contain;

      &:hover {
        cursor: pointer;
      }
    }
  }

  &__desktop-header {
    @include boundary();
    display: none;

    @include bp(md) {
      display: block;
    }

    form {
      padding-left: 30px;
      padding-right: 30px;
      padding-bottom: 30px;
      padding-top: 20px;
      border-left: 1px solid $cool-gray;
      border-right: 1px solid $cool-gray;
      border-bottom: 1px solid $cool-gray;
      position: relative;
      background-color: $white;
    }

    label {
      text-transform: uppercase;
      font-family: $base-font-heavy;
      display: block;
      color: #5D6D75;
      font-size: 0.875rem;
      padding-bottom: 15px;
    }

    .form-item {
      border-bottom: 1px solid $medium-gray;
    }

    .form-text {
      width: calc(100% - 40px);
      @include reset_input();
      font-family: $base-font-heavy;
      font-size: 2.625rem;
      color: $steel-gray;

      @include placeholder() {
        color: $steel-gray;
      }

      &:focus {
        outline: none;
      }
    }

    .form-submit {
      position: absolute;
      bottom: 40px;
      right: 30px;
      @include reset_button();
      width: 35px;
      height: 41px;
      background: url(#{$path-svg}search-thin-cobalt.svg) no-repeat;
      background-size: contain;

      &:hover {
        cursor: pointer;
      }
    }
  }
}

.desktop-search {
  &__boundary {
    display: none;

    @include bp(md) {
      @include display(flex);
      @include align-items(flex-end);
      overflow: hidden;
      position: relative;

      &:hover {
        svg {
          stroke: $cobalt;
        }
      }
    }
  }

  &__button {
    @include reset_button();
    padding-bottom: 16px;
    width: 24px;
    position: relative;

    &:after {
      content: '';
      height: 5px;
      position: absolute;
      width: 100%;
      bottom: 0;
      left: 0;
      transition: background-color .3s ease;

      .desktop-search__boundary.active & {
        background-color: $cobalt;
      }
    }

    svg {
      width: 19px;
      height: 23px;
      stroke: $white;
    }

    &:hover {
      cursor: pointer;

      &:after {
        background-color: $cobalt;
      }

      svg {
        stroke: $cobalt;
      }
    }

    &:focus {
      outline: none;
    }

    &--close {
      position: absolute;
      left: 0;
      bottom: 0;

      svg {
        transform: translateY(42px);
        transition: stroke .3s ease, transform .263s ease-out;

        .desktop-search__boundary.active & {
          transform: translateY(0);
          transition-delay: .3s;
        }
      }
    }

    &--open {

      &:hover {
        svg {
          stroke: $cobalt!important;
        }
      }

      svg {
        transition: stroke .3s ease, transform .263s ease-out .3s;

        .desktop-search__boundary.active & {
          transform: translateY(39px);
          transition-delay: 0s;
        }
      }
    }
  }
}
