.header-bottom-hover {
  z-index: 3;
  position: relative;
  opacity: 0;
  z-index: -1;
  transition: (opacity .2s ease, z-index .3s ease);

  &.hover {
    opacity: 1;
    z-index: 3;
  }
}

.mega-menu {
  display: none;
  opacity: 0;
  z-index: 3;
  position: absolute;
  background-color: white;
  width: 100%;
  transition: (opacity .3s ease-in-out, z-index .3s ease-in-out);

  &.selected {
    z-index: 4;
  }

  &.hover {
    opacity: 1;
  }


  .field_product_type_thumbnail {
    padding-bottom: 12px;
  }

  a:hover {
    text-decoration: none;
  }

  @include bp(md) {
    display: block;
  }

  &__boundary {
    opacity: 0;
    max-width: 1320px;
    width: auto;
    margin: 0 auto;
    padding-left: 40px;
    padding-right: 40px;
    transition: (opacity .3s ease-in-out);

    &.hover {
      opacity: 1;
    }
  }

  &__stage {
    padding-left: 30px;
    padding-right: 30px;
  }
  
  &__product-title {
    font-family: $base-font-medium;
    color: $black;
    text-align: center;
    min-height: 40px;
    margin: 0 auto;
  }

  &__products {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    border-bottom: 1px solid #E6EBED;
    padding-bottom: 20px;
    margin-bottom: 20px;
    padding-top: 40px;

    img {
      margin: 0 auto;
    }

    > div {
      flex-basis: 20%;

      &:first-child { 
        padding-left: 0;
      }

      &:last-child {
        padding-right: 0;
      }
    }
  }

  &__non-products {
    padding-bottom: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__non-products-links {
    @include button-small(); 
    font-size: 0.875rem;
    padding-right: 18px;
    position: relative;
    margin-right: 40px;

    &:before {
      content: '';
      width: 7px;
      height: 13px;
      display: block;
      background: url(#{$path-svg}right-arrow.svg) no-repeat;
      background-size: contain;
      position: absolute;
      right: 0;
      top: 4px;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  &__products-boundary {
    display: flex;
    flex-wrap: wrap;
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
    height: 100%;

    > div {
      flex: 0 0 100%;
    }
  }

  &__products-taxonomy {
    display: flex;

    > a {
      flex: 1;
      display: flex;
      align-items: flex-end;
    }
  }
}