{#
/**
 * @file
 * Default theme implementation for an 'input' #type form element.
 *
 * Available variables:
 * - attributes: A list of HTML attributes for the input element.
 * - children: Optional additional rendered elements.
 *
 * @see template_preprocess_input()
 *
 * @ingroup themeable
 */
#}
<div class="input__boundary{{ val ? '__' ~ val }}">
  <button{{ attributes }}>{{ children }} {{ value_text }}</button>
</div>
