<article{{ attributes }} class="homepage-news-teaser__boundary">
  {{ title_prefix }}
  {{ title_suffix }}
  <a href="{{ url }}" class="homepage-news-teaser__pub-date deck">{{ content.field_pub_date }}</a>
  <a href="{{ url }}" class="homepage-news-teaser__title h3" rel="bookmark">{{ label }}</a>
  <a href="{{ url }}" class="homepage-news-teaser__read-more">Read More</a>
</article>
