.resources-teaser {
  &__top-boundary {
    display: flex;
    padding-bottom: 27px;

    @include bp(md) {
      display: none;
    }
  }

  &__stage {
    @include bp(md) {
      display: flex;
    }
  }

  &__rows-boundary,
  &__top-results {
    @include bp(md) {
      padding-right: 100px;
      padding-left: 0;
      max-width: 585px;
      margin-left: auto;
    }
  }

  &__resource-tag {
    @extend .deck;
    font-family: $base-font;

    > div {
      display: inline-block;
    }
  }

  &__title  {
    font-size: 1rem;

    &--desktop {
      display: none;

      @include bp(md) {
        display: block;
      }
    }

    @include bp(md) {
      font-size: 1.125rem;
    }
  }

  &__links {
    @include button-small();
    padding-top: 20px;
    display: flex;
    flex-wrap: wrap;

    @include bp(md) {
      display: flex;
    }

    > a {
      flex: 0 0 100%;
      padding-bottom: 17px;

      &:hover {
        text-decoration: none;
      }

      @include bp(md) {
        flex: 0 1 auto;
        padding-bottom: 0;
        padding-right: 17px;
      }

      &:last-child {
        padding-bottom: 0;
      }
    }
  }

  &__content-boundary {
    @include bp(md) {
      flex: 1;
    }
  }

  &__view-link  {
    position: relative;

    &:hover {
      text-decoration: none;
    }

    &.pdf {
      padding-left: 27px;

      &:before {
        content: '';
        width: 17px;
        height: 23px;
        // display: inline-block;
        background: url(#{$path-svg}icon-file.svg) no-repeat;
        background-size: cover;
        position: absolute;
        left: 0;
        top: -4px;
      }
    }

    &.video {
      padding-left: 22px;

      &:before {
        content: '';
        width: 11px;
        height: 22px;
        background: url(#{$path-svg}right-arrow.svg) no-repeat;
        background-size: cover;
        margin-right: 10px;
        position: absolute;
        left: 0;
        top: -4px;
      }
    }
  }

  &__download-link {
    padding-left: 29px;
    position: relative;

    &:before {
      content: '';
      margin-right: 10px;
      width: 19px;
      height: 25px;
      background: url(#{$path-svg}icon-download.svg) no-repeat;
      position: absolute;
      left: 0;
      top: -4px;
    }
  }

  &__image {
    max-width: 75px;
    width: 100%;
    padding-right: 16px;

    &--desktop {
      display: none;

      @include bp(md) {
        display: block;
      }
    }

    @include bp(md) {
      max-width: none;
      width: auto;
      padding-right: 32px;
    }
  }

  &__group-title {
    font-size: 1.5rem;
    padding-bottom: 22px;
    margin: 0;

    &:before {
      content: '';
      width: 42px;
      height: 7px;
      display: block;
      background: url(#{$path-svg}four-dots.svg) no-repeat;
      background-size: contain;
      padding-bottom: 1px;
    }
  }

  .field_resource_summary {
    p:last-child {
      margin-bottom: 0;
      margin-top: 7px;
     }
  }

  &__results {
    @extend .deck;
    color: #5D6D75;
    padding-right: 20px;
  }

  &__top-results {
    display: flex;
    justify-content: space-between;
  }

  &__share-this {
    position: relative;
    display: none;

    .share-this__toolbox {
      width: 100%;
    }

    &.show {
      display: block;
    }
  }
}
