.resource-detail {
  &__header {
    background-color: $dark-navy;
  }

  &__header-boundary {
    @include boundary();
    padding-top: 20px;
    padding-bottom: 19px;

    @include bp(md) {
      display: flex;
      flex-direction: row;
      padding-top: 12px;
      padding-bottom: 12px;
    }
  }

  &__page-boundary {
    height: 100%;
    
    #block-follett-content {
      height: 100%;
      display: flex;
      flex-direction: column;
    }
  }

  &__pdf-title {
    color: $white;
    font-size: 0.75rem;
    padding-top: 6px;
    padding-bottom: 8px;
    border-bottom: 1px solid $steel-gray;

    @include bp(md) {
      font-size: 1.125rem;
      padding-top: 0;
      padding-bottom: 0;
      border-bottom: 0;
    }
  }

  &__logo {
    width: 100%;
    padding-bottom: 24px;
    border-bottom: 1px solid $steel-gray;

    @include bp(md) {
      padding-bottom: 0;
      border-bottom: 0;
      width: auto;
      margin-right: 30px;
    }

    img {
      width: 164px;
      height: 26px;

      @include bp(md) {
        width: 132px;
        height: 21px;
      }
    }
  }

  &__sm-link {
    @include button-small();
    font-size: 0.75rem;
  }

  &__pdf-embed {
    flex: 1 1 auto;
    display: flex;

    .field_pdf_document {
      width: 100%;
    }

    .gdoc-field {
      width: 100%;
      height: 100%;
      margin: 0;
      border: 0;
    }
  }

  &__pdf-links-stage {
    display: flex;
    justify-content: space-between;
    padding-top: 12px;

    @include bp(md) {
      margin-left: auto;
      padding-top: 0;
    }
  }

  &__download-link {
    &:before {
      content: '';
      height: 20px;
      width: 15px;
      display: inline-block;
      background: url(#{$path-svg}icon-download.svg) no-repeat;
      background-size: cover;
      vertical-align: sub;
      margin-right: 6px;
    }
  }

  &__back-link {
    &:before {
      content: '';
      height: 13px;
      width: 7px;
      display: inline-block;
      background: url(#{$path-svg}left-arrow.svg) no-repeat;
      background-size: cover;
      position: relative;
      top: 2px;
      margin-right: 8px;
    }

    @include bp(md) {
      margin-right: 31.5px;
    }
  }
}