.path-sales-literature {
  .sidebar__boundary {
    @include bp(md) {
      margin-right: 100px;
    }
    display: block;
    margin: 0 auto;
  }
}

.resources {
  &__filter-boundary {
    @include bp(md) {
      padding: 33px 36px 40px 39px;
    }
    border: 1px solid $cool-gray;

    padding: 22px 28px 34px 22px;
    margin-bottom: 80px;

    &.show {
      .input__boundary__input-type-reset {
        display: flex;
      }
    }

    form {
      @include bp(md) {
        display: flex;
        flex-wrap: wrap;
      }
    }

    .form-item-field-resource-industry-target-id,
    .form-item-field-resource-industry-target-id-selective {
      @include bp(md) {
        flex: 0 0 100%;
      }
    }

    .form-item-field-associated-products-target-id-selective,
    .form-item-field-documentation-type-target-id-selective,
    .form-item-field-language-target-id-selective,
    .form-item-field-resource-product-type-target-id-selective {
      @include bp(md) {
        flex: 45%;
      }
    }

    .form-item-field-documentation-type-target-id-selective,
    .form-item-field-resource-product-type-target-id-selective {
      @include bp(md) {
        margin-right: 2.5%;
      }
    }

    .form-item-field-associated-products-target-id-selective,
    .form-item-field-language-target-id-selective {
      @include bp(md) {
        margin-left: 2.5%;
      }
    }

    .form-item-combine {
      @include bp(md) {
        flex: 0 0 100%;
      }
    }

    .input__boundary__input-type-reset {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 30px;

      &.show {
        display: flex;
      }
      @include bp(xs2) {
        margin-top: 0;
        margin-left: 32px;
      }

      &::before {
        content: '';
        width: 19px;
        height: 20px;
        background: url('#{$path-svg}icon-reset.svg') no-repeat;
        background-size: cover;
        display: inline-block;
        vertical-align: sub;
        margin-right: 10px;
      }
    }

    .input-type-reset {
      @include reset_input;
      @include button-small;
      color: $cobalt;

      &:hover {
        cursor: pointer;
      }
    }
  }

  &__filter-title {
    @include bp(md) {
      padding-bottom: 25px;
    }
    font-family: $base-font;
  }
}

.resources-results__boundary {
  display: none;

  &.show {
    display: block;
  }
}

.resources--sales-literature-boundary {
  .pager {
    @extend .content-max;
    padding-right: 0;
    margin-left: auto;
    margin-top: 40px;

    a {
      @include underline-animation(5px, $cobalt);
      width: 100%;
      text-align: center;
      display: block;
      background-color: #5d6d75;
      color: $white;
      letter-spacing: 0.5px;
      text-transform: uppercase;
      font-family: $base-font-heavy;
      height: 50px;
      line-height: 50px;

      &:hover {
        text-decoration: none;
      }
    }
  }

  .views-row {
    padding-bottom: 30px;
    border-bottom: 1px solid $cool-gray;
    margin-bottom: 29px;

    &:last-child {
      @include bp(md) {
        padding-bottom: 0;
        border-bottom: 0;
        margin-bottom: 0;
      }
    }
  }
  @include bp(md) {
    padding-bottom: 100px;
  }

  .form-actions {
    @include bp(xs2) {
      flex-direction: row;
    }
    display: flex;
    flex-direction: column;
  }

  input {
    &[type='date'],
    &[type='email'],
    &[type='tel'],
    &[type='text'] {
      font-family: $base-font;
      font-size: 1.125rem;
      border-top: 0;
      border-left: 0;
      border-right: 0;
      border-bottom: 1px solid $cool-gray;
      margin-bottom: 40px;
      height: 18px;
      transition: color 0.3s ease;
      padding-bottom: 8px;
      color: $dark-navy;
      width: 100%;

      &::placeholder {
        color: #a9b1b7;
      }

      &:focus {
        outline: none;
      }
    }
  }

  label {
    @extend .deck;
    display: block;
    padding-bottom: 10px;
  }

  .selectboxit-container {
    @include selectboxit-options-multiline;

    border-bottom: 1px solid $cool-gray;
    font-size: 1.125rem;
    color: $dark-navy;
    margin-bottom: 20px;
    width: 100%;

    .selectboxit-options {
      max-height: 240px !important;
      background-color: $white;
    }

    .selectboxit {
      width: 100%;
    }
  }

  .selectboxit-btn {
    .selectboxit-enabled {
      transition: color 0.3s ease;

      &:hover {
        color: $cobalt;
      }

      &:focus {
        color: $dark-navy;
      }
    }
  }

  .selectboxit-option {
    .selectboxit-option-anchor {
      transition: color 0.3s ease;
      padding: 0;

      &:hover {
        color: $cobalt;
      }
    }

    .selectboxit-option-icon-container {
      display: none;
    }
  }

  .selectboxit {
    .selectboxit-open {
      .selectboxit-arrow-container {
        .selectboxit-arrow {
          transform: rotate(180deg);
        }
      }
    }

    .selectboxit-option-icon-container {
      position: absolute;
      right: 0;
    }

    .selectboxit-arrow-container {
      .selectboxit-arrow {
        display: block;
        width: 16px;
        height: 8px;
        background: url('#{$path-svg}down-arrow.svg') no-repeat center center;
        background-size: contain;
        transition: transform 0.3s ease;
      }
    }
  }
}

.load-more {
  &__boundary {
    padding-bottom: 30px;
    margin-bottom: 28px;
    border-bottom: 1px solid $cool-gray;
  }

  &__button {
    @include large-button(#5d6d75, $white, $cobalt, 5px);
    display: block;
  }
}
