.product__teaser {
  width: 100%;
  height: 100%;

  &__boundary {
    padding-top: 25px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;

    > div,
    > a {
      width: 100%;
      height: 100%;
    }

    @include bp(md) {
      padding-left: 15px;
      padding-right: 15px;
      padding-top: 32px;
      padding-bottom: 24px;
      display: flex;
      flex-wrap: wrap;
      align-content: center;
      justify-content: center;
    }

    .field_product_thumbnail {
      padding-bottom: 17px;
      margin: 0 auto;
      width: 100%;
      max-width: 130px;

      @include bp(md) {
        padding-bottom: 10px;
      }

      img {
        margin: 0 auto;
      }
    }
  }

  &__title {
    padding-bottom: 12px;
    display: block;
    text-align: center;
    color: $black;
    font-size: 0.75rem;

    @include bp(md) {
      font-size: 1.125rem;
      line-height: 26px;
    }
  }

  &__view-more-link {
    text-align: center;
    display: block;
    font-family: $base-font-heavy;
    text-transform: uppercase;
    font-size: 0.625rem;

    @include bp(md) {
      display: none;
    }
  }
}