.sidebar__boundary {
  @include visible-md();
  width: 100%;
  max-width: 314px;
  margin-right: 100px;
  position: relative;

  .back-to-top {
    display: none;

    @include bp(md) {
      display: block;
    }
  }

  @include bp(md) {
    display: flex!important;
    flex-direction: column;
  }

  > ul {
    border-bottom: 1px solid $cool-gray;
  }

  h2 {
    font-family: $base-font-medium;
    text-transform: lowercase;
    font-size: 1.5rem;
    line-height: 24px;
    margin-bottom: 33px;
  }

  &.menu-collapsed {
    &__menu {
      ul {
        position: relative;
        margin: 0;
        padding: 0;
      }

      li {
        display: block;
        position: relative;
        padding-left: 0;

        &.active-parent > div > a {
          color: $cobalt;
        }
      }

      .link-container {
        position: relative;
        border-top: 1px solid $cool-gray;

        a {
          color: #5D6D75;
          display: block;
          transition: color .3s ease;

          &.is-active {
            color: $cobalt;
          }

          &:hover {
            color: $cobalt;
            text-decoration: none;
          }
        }
      }

      // Accordion menus
      .sub-menu {
        display: none;
      }

      .menu {
        &__list-item {

        }

        &__link {
          font-size: 1.125rem;
        }

        &__level1 {

          &__list-item {
          }

          &__link {
            padding-top: 24px;
            padding-bottom: 18px;
          }
        }

        &__level2 {

          &__list-item {
          }

          &__link {
            padding-left: 32px;
            padding-top: 20px;
            padding-bottom: 14px;
            font-size: 1rem;
          }
        }

        &__level3 {

          &__list-item {
          }

          &__link {
            padding-left: 32px;
            padding-top: 20px;
            padding-bottom: 14px;
            font-size: 1rem;
            text-transform: uppercase;
          }
        }
      }
    }
  }
  .menu-collapsed__expand {
    -webkit-appearance: none;
    position: absolute;
    right: 0;
    top: 0;
    width: 44px;
    height: 100%;

    @include reset_button();
    background-position: right top;



    &:before {
      content: '';
      width: 22px;
      height: 12px;
      position: absolute;
      background: url(#{$path-svg}down-arrow.svg) no-repeat;
      background-size: contain;
      right: 0;
      top: 30px;
      transition: transform .3s ease-out;
    }

    &:hover {
      cursor: pointer;
    }

    &.active-btn {
      &:before {
        transform: rotate(180deg);
      }
    }

    &:focus {
      outline: none;
    }
  }
}
