footer {
  background-color: $dark-navy;
  padding-top: 47px;
}


.footer {
  &__boundary {
    @include boundary();
    padding-bottom: 13px;

    @include bp(md) {
      padding-bottom: 0;
    }
  }

  &_first {
    @include bp(xs3) {
      float: left;
    }

    @include bp(md) {
      float: none;
    }
  }

  &_second {
    @include bp(xs3) {
      float: right;
    }

    @include bp(md) {
      float: none;
    }
  }

  &_third {
    @include bp(xs3) {
      clear: left;
      width: 50%;
    }

    @include bp(md) {
      clear: none;
      width: auto;
    }
  }

  &__logo {
    display: inline-block;
    transition: opacity .3s ease;

    &__link {
      display: inline-block;

      &:hover {
        .footer__logo--rest {
          opacity: 0;
        }

        .footer__logo--hover {
          opacity: 1;
        }
      }
    }

    &:hover {
      cursor: pointer;
    }

    &__boundary {
      position: relative;
      border-bottom: 1px solid $steel-gray;
      padding-bottom: 30px;
      margin-bottom: 26px;

      @include bp(md) {
        margin-bottom: 13px;
      }
    }

    svg {
      width: 100%;
      max-width: 164px;

      @include bp(md) {
        max-width: 217px;
      }
    }

    &--hover {
      position: absolute;
      top: 0;
      opacity: 0;
      left: 0;
    }
  }

  &__page-lookup {
    .field_form_title {
      color: $cool-gray;
      text-transform: uppercase;
      font-family: $base-font-heavy;
      letter-spacing: .75px;
      line-height: 28px;
      font-size: 0.75rem;
      padding-bottom: 6px;

      @include bp(md) {
        font-size: 0.875rem;
        letter-spacing: .88px;
      }
    }
  }

  &__menu {
    padding-bottom: 46px;

    ul {
      @include reset_ul();
    }

    a {
      color: $white;
      text-transform: uppercase;
      font-size: 0.875rem;
      line-height: 40px;
      transition: color .3s ease;

      &:hover {
        color: $cobalt;
      }

      @include bp(md) {
        line-height: 28px;
      }
    }
  }

  &__address {
    font-size: .75rem;
    line-height: 20px;
    padding-bottom: 5px;

    @include bp(md) {
      font-size: 0.875rem;
    }

    p {
      font-size: .75rem;
      line-height: 20px;
      margin-top: 4px;

      @include bp(md) {
        font-size: 0.875rem;
      }
    }

    a {
      color: $cool-gray;

      &:hover {
        text-decoration: none;
      }
    }
  }

  &__contact-info {
    font-size: .75rem;
    line-height: 20px;
    padding-bottom: 20px;

    @include bp(md) {
      font-size: 0.875rem;
    }

    p {
      font-size: .75rem;
      line-height: 20px;
      color: $cool-gray;

      @include bp(md) {
        font-size: 0.875rem;
      }
    }
  }

  &__middleby-logo {
    max-width: 168px;
    width: 100%;
    padding-bottom: 21px;
  }

  &__top-boundary {
    @include bp(md) {
      @include display(flex);
      @include justify-content(space-between);
      padding-right: 190px;
      padding-bottom: 50px;
    }
  }
}

.copyright__boundary {
  color: #82898F;
  text-transform: uppercase;

  @include bp(md) {
    padding-bottom: 20px;
  }

  p {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 0.625rem;
    line-height: 10px;
  }
}

.google-translate {
  padding-bottom: 42px;

  @include bp(md) {
    padding-bottom: 0;
  }

  select {
    font-size: 1rem;

    @include bp(xs3) {
      font-size: 0.75rem;
    }
  }

  h2 {
    font-size: 0.75rem;
    line-height: 28px;
    color: $cool-gray;
    letter-spacing: .75px;
    text-transform: uppercase;

    @include bp(md) {
      font-size: .875rem;
      line-height: .88px;
      padding-bottom: 15px;
    }
  }

  .selectboxit-container {
    width: 100%;

    @include bp(xs2) {
      max-width: 280px;
    }

    @include bp(md) {
      max-width: none;
    }

    span {
      height: 40px;
      line-height: 40px;
    }

    .selectboxit-options {
      @include bp(md) {
        min-width: 242px!important;
      }
    }

    .selectboxit {
      border: 0;
      border-radius: 0;
      width: 100%!important;

      @include bp(md) {
        min-width: 242px;
      }
    }
  }

  .selectboxit-default-arrow {
    width: 12px;
    height: 6px;
    background: url(#{$path-svg}down-arrow.svg) no-repeat;
    background-size: contain;

    .selectboxit-open & {
      transform: rotate(180deg);
    }
  }

  .selectboxit-arrow-container {
    border-left: 1px solid $steel-gray;
    width: 40px;
  }

  .selectboxit-open {

  }

  .selectboxit-btn {
    background-color: $black;
    background-image: none;
    transition: background-color .3s ease;
  }

  .selectboxit-text {
    color: $white;
    font-size: 0.75rem;
    font-family: $base-font;
    max-width: none!important;

    @include bp(md) {
      font-size: .875rem;
    }
  }

  .selectboxit-option-first {
    font-family: $base-font-heavy;
    text-transform: uppercase;
    border-bottom: 1px solid $white;
    border-top: none!important;
  }

  .selectboxit-list {
    .selectboxit-option-anchor {
      color: $white;
      font-size: .875rem;
      padding-left: 13px;
      line-height: 28px;
      padding-top: 7px;
      padding-bottom: 5px;
    }

    .selectboxit-option-icon-container {
      display: none;
    }
  }

  .selectboxit-option {
    border-top: 1px solid $steel-gray;
    &:hover {
      background-color: $cobalt;
    }
  }

  .selectboxit-options.selectboxit-list {
    background-color: $black;
  }


  //hover
  .selectboxit-btn.selectboxit-enabled:hover,
  .selectboxit-btn.selectboxit-enabled:focus,
  .selectboxit-btn.selectboxit-enabled:active {
    background-color: $cobalt;

    .selectboxit-default-arrow {
      background: url(#{$path-svg}down-arrow-white.svg) no-repeat;
    }
  }
}

#block-gtranslate {
  @include bp(xs3) {
    float: right;
    width: 290px;
  }

  @include bp(md) {
    float: none;
    width: auto;
  }
}

.footer_fourth {
  @include clearfix();
  
  @include bp(xs3) {
    padding-top: 40px;
  }

  @include bp(md) {
    @include display(flex);
    @include justify-content(space-between);
    @include flex-direction(row-reverse);
    @include align-items(flex-end);
    padding-right: 150px;
    padding-top: 0;

    &:after {
      display: none;
    }
  }
}
