{#
/**
 * @file
 * Default theme implementation to display a menu.
 *
 * Available variables:
 * - menu_name: The machine name of the menu.
 * - items: A nested list of menu items. Each menu item contains:
 *   - attributes: HTML attributes for the menu item.
 *   - below: The menu item child items.
 *   - title: The menu link title.
 *   - url: The menu link url, instance of \Drupal\Core\Url
 *   - localized_options: Menu link localized options.
 *   - is_expanded: TRUE if the link has visible children within the current
 *     menu tree.
 *   - is_collapsed: TRUE if the link has children within the current menu tree
 *     that are not currently visible.
 *   - in_active_trail: TRUE if the link is in the active trail.
 *
 * @ingroup themeable
 */
#}
{% import _self as menus %}

{#
  We call a macro which calls itself to render the full tree.
  @see http://twig.sensiolabs.org/doc/tags/macro.html
#}
{{ menus.menu_links(items, attributes, 0) }}

{#
  TODO: Clean up code; put strings in variables
#}

{% macro menu_links(items, attributes, menu_level) %}
  {% import _self as menus %}
  {% if items %}
    {% if menu_level == 0 %}
      <ul{{ attributes }}>
    {% else %}
      <div class="sub-menu"><ul>
    {% endif %}
    {% for item in items %}
      {% set depth = menu_level + 1 %}
      {% if item.in_active_trail == TRUE %}
        <li{{ item.attributes.addClass('active-parent').addClass('active-trail').addClass('menu__level' ~ depth ~ '__list-item') }}>
      {% else %}
        <li{{ item.attributes.addClass('menu__level' ~ depth ~ '__list-item') }}>
      {% endif %}
          <div class="link-container">
            {{ link(item.title, item.url, item.attributes.removeClass('active-parent').removeClass('active-trail').removeClass('menu__level' ~ depth ~ '__list-item').addClass('menu__link').addClass('menu__level' ~ depth ~ '__link')) }}
            {% if item.below is not empty and item.in_active_trail %}
              <button class="menu-collapsed__expand expand active-btn"></button>
            {% elseif item.below is not empty %}
              <button class="menu-collapsed__expand expand"></button>
            {% endif %}
          </div>
          {% if item.below %}
            {{ menus.menu_links(item.below, attributes, menu_level + 1) }}
          {% endif %}
        </li>
    {% endfor %}
    {% if menu_level == 0 %}
      </ul>
    {% else %}
      </ul></div>
    {% endif %}
  {% endif %}
{% endmacro %}
