<div class="mega-menu">
  <div class="mega-menu__boundary">
    <div class="mega-menu__stage">
      {% if products_html is not empty %}
        <div class="mega-menu__products">
          {% for product_link in products_html %}
            {{ product_link }}
          {% endfor %}
        </div>
      {% endif %}

      {% if non_products is not empty %}
        <div class="mega-menu__non-products">
          {% for non_product_link in non_products %}
            {{ link(non_product_link.title, non_product_link.url, { 'class':['mega-menu__non-products-links']}) }}
          {% endfor %}
        </div>
      {% endif %}
    </div>
  </div>
</div>
