<footer role="contentinfo">
  <div class="footer__boundary">
    <div class="footer__logo__boundary">
      <a class="footer__logo__link" href="/">
        <div class="footer__logo footer__logo--rest">
          {% include directory ~ '/templates/svg_includes/logo-white.svg.twig' %}
        </div>
        <div class="footer__logo footer__logo--hover">
          {% include directory ~ '/templates/svg_includes/logo-cobalt.svg.twig' %}
        </div>
      </a>
    </div>
    <div class="footer__top-boundary">
      {% if page.footer_first %}
        <div class="footer_first">
          {{ page.footer_first }}
        </div>
      {% endif %}
      {% if page.footer_second %}
        <div class="footer_second">
          {{ page.footer_second }}
        </div>
      {% endif %}
      {% if page.footer_third %}
        <div class="footer_third">
          {{ page.footer_third }}
        </div>
      {% endif %}
    </div>

    {% if page.footer_fourth %}
      <div class="footer_fourth">
        {{ page.footer_fourth }}
      </div>
    {% endif %}
  </div>
</footer>

{% if page.footer_bottom %}
  <section class="region_footer_bottom">
    {{ page.footer_bottom }}
  </section>
{% endif %}
