{% if page.header_top %}
  <div class="header-top">
    {{ page.header_top }}
  </div>
{% endif %}

<header class="header__global" role="banner">
  <div class="header__boundary">
    {% if page.header_first %}
      <div class="header-first">
        {{ page.header_first }}
      </div>
    {% endif %}
    <div tabindex="0" role="navigation" aria-label="Mobile Hamburger Menu" aria-expanded="false" class="header__hamburger">
      <div class="hamburger__boundary">
        <div class="hamburger__middle"></div>
      </div>
      <div class="header__hamburger-text">
        <span class="header__menu-text">Menu</span>
        <span class="header__close-text">Close</span>
      </div>
    </div>
    <div class="header-navigation__boundary">
      {% if page.header_second %}
        <div class="header-second">
          <div class="header-second__boundary">
            {{ page.header_second }}
          </div>
        </div>
      {% endif %}
      {% if page.header_third %}
        <div class="header-third">
          <div class="header-third__boundary">
            {{ page.header_third }}

            <div class="desktop-search__boundary">
              <button class="desktop-search__button desktop-search__button--open">{% include directory ~ '/templates/svg_includes/search.svg.twig' %}</button>
              <button class="desktop-search__button desktop-search__button--close">{% include directory ~ '/templates/svg_includes/close.svg.twig' %}</button>
            </div>
          </div>
        </div>
      {% endif %}
    </div>
  </div>
</header>
{% if page.header_bottom %}
  <div class="header-bottom">
    <div class="header-bottom__boundary">
      {{ page.header_bottom }}
    </div>
  </div>
{% endif %}

{% if page.header_bottom_hover %}
  <div class="header-bottom-hover">
    <div class="header-bottom-hover__boundary">
      {{ page.header_bottom_hover }}
    </div>
  </div>
{% endif %}
