{% if is_product_type %}
  <section class="cta-callout--fullwidth">
    <div class="cta-callout--fullwidth__boundary">
      {{ taxonomy_term.get('field_cta').getEntity.get('field_cta')|renderThis }}
    </div>
  </section>
{% endif %}


