{% if is_product_type %}
  {#
    TODO: preprocess in page preprocess
  #}

  {% if taxonomy_term.field_product_type_hero.entity.field_product_type_hero_image.entity.uri.value %}
    {% set product_type_banner_url = file_url(taxonomy_term.field_product_type_hero.entity.field_product_type_hero_image.entity.uri.value) %}
  {% endif %}  
  <div class="product-type__banner" style="background-image: url('{{ product_type_banner_url }} ');"></div>
{% endif %}

