{% if node.field_related_products is not empty %}
  <section class="related-products related-products__boundary">
    <div class="related-products__stage">
      {% if node.field_related_products_heading and  node.field_related_products_heading.isEmpty == false %}
         <div class="related-products__title h3">{{ node.field_related_products_heading.getValue.0['value'] }}</div> 
      {% else %}
        <div class="related-products__title h3">you may also be interested in…</div>
      {% endif %}
      <div class="related-products__items">{{ node.field_related_products | renderThis }}</div>
    </div>
  </section>
{% endif %}
