.navigation__more-in-this {
  max-width: 585px;
  width: 100%;
  margin: 0 auto;

  @include bp(md) {
    margin-left: auto;
    margin-right: 0;
    padding-right: 100px;
  }
}

.more-in-this {
  &__boundary {
    background-color: #E6EBED;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 30px;
    padding-bottom: 70px;

    @include bp(md) {
      padding-bottom: 50px;
    }

    ul {
      @include reset-ul();
    }

    li {
      &:last-child() {
        border-bottom: 1px solid #5D6D75;
      }
    }

    a {
      font-size: 1.25rem;
      line-height: 32px;
      padding-top: 13px;
      padding-bottom: 15px;
      display: block;
      border-top: 1px solid #5D6D75;
      position: relative;
      padding-left: 20px;
      transition: background-color .3s ease, color .3s ease;

      &:hover {
        text-decoration: none;
        background-color: $cobalt;
        color: $white;

        &:after {
          background: url(#{$path-svg}right-arrow-white.svg) no-repeat;
        }
      }

      &:after {
        content: '';
        width: 9px;
        height: 17px;
        display: block;
        position: absolute;
        background: url(#{$path-svg}right-arrow.svg) no-repeat;
        background-size: contain;
        right: 20px;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }

  &__current-page {
    text-transform: lowercase;
    padding-bottom: 15px;
  }

  &__section-title {
    @extend .deck;
    display: block;
    margin-bottom: 20px;

    @include bp(md) {
      margin-bottom: 30px;
    }
  }
}
