{#
/**
 * @file
 * Default theme implementation to display a node.
 *
 * Available variables:
 * - node: The node entity with limited access to object properties and methods.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - node.getCreatedTime() will return the node creation timestamp.
 *   - node.hasField('field_example') returns TRUE if the node bundle includes
 *     field_example. (This does not indicate the presence of a value in this
 *     field.)
 *   - node.isPublished() will return whether the node is published or not.
 *   Calling other methods, such as node.delete(), will result in an exception.
 *   See \Drupal\node\Entity\Node for a full list of public properties and
 *   methods for the node object.
 * - label: The title of the node.
 * - content: All node items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - author_picture: The node author user entity, rendered using the "compact"
 *   view mode.
 * - metadata: Metadata for this node.
 * - date: Themed creation date field.
 * - author_name: Themed author name field.
 * - url: Direct URL of the current node.
 * - display_submitted: Whether submission information should be displayed.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - node: The current template type (also known as a "theming hook").
 *   - node--type-[type]: The current node type. For example, if the node is an
 *     "Article" it would result in "node--type-article". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - node--view-mode-[view_mode]: The View Mode of the node; for example, a
 *     teaser would result in: "node--view-mode-teaser", and
 *     full: "node--view-mode-full".
 *   The following are controlled through the node publishing options.
 *   - node--promoted: Appears on nodes promoted to the front page.
 *   - node--sticky: Appears on nodes ordered above other non-sticky nodes in
 *     teaser listings.
 *   - node--unpublished: Appears on unpublished nodes visible only to site
 *     admins.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - content_attributes: Same as attributes, except applied to the main
 *   content tag that appears in the template.
 * - author_attributes: Same as attributes, except applied to the author of
 *   the node tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - view_mode: View mode; for example, "teaser" or "full".
 * - teaser: Flag for the teaser state. Will be true if view_mode is 'teaser'.
 * - page: Flag for the full page state. Will be true if view_mode is 'full'.
 * - readmore: Flag for more state. Will be true if the teaser content of the
 *   node cannot hold the main body content.
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_node()
 *
 * @todo Remove the id attribute (or make it a class), because if that gets
 *   rendered twice on a page this is invalid CSS for example: two lists
 *   in different view modes.
 *
 * @ingroup themeable
 */
#}
{% macro filterSelect(heading, css_selector, selection, filters, order) %}
  <div class="js-form-item form-item js-form-type-select js-model-filter-item js-form-item-filter-{{ css_selector }}">
    <label for="filter-{{ css_selector }}">{{ heading }}</label>
    <select id="filter-{{ css_selector }}" name="filter_{{ css_selector }}" class="form-select model-finder-filter" data-filter-order="{{ order }}">
      <option value="All" {% if selection is not defined or selection == false %} selected="selected"{% endif %}>- Any -</option>
      {% for id, label in filters %}
      <option value="{{ id }}"{% if selection == id %} selected="selected"{% endif %}>{{ label }}</option>
      {% endfor %}
    </select>
  </div>
{% endmacro %}

{% macro filterEmptySelect(heading, css_selector, order) %}
  <div class="js-form-item form-item js-form-type-select js-model-filter-item js-form-item-filter-{{ css_selector }}">
    <label for="filter-{{ css_selector }}">{{ heading }}</label>
    <select id="filter-{{ css_selector }}" name="filter_{{ css_selector }}" class="form-select model-finder-filter" data-filter-order="{{ order }}" disabled="disabled">
      <option value="All" selected="selected">- Any -</option>
    </select>
  </div>
{% endmacro %}

{{ attach_library('follett/addthis') }}
<article class="product-detail__boundary product-detail">
  {{ title_prefix }}
  {{ title_suffix }}

  <section class="product-detail__top">
    {% if content.field_product_type|render %}
      <div class="product-detail__product-type">
        {{ content.field_product_type }}
      </div>
    {% endif %}

    <div class="product-detail__share-this">
      <div class="share-this share-this__boundary">
        <span class="share-this__icon">{% include directory ~ '/templates/svg_includes/share.svg.twig' %}</span> <span class="extra-small cobalt">share</span>
      </div>
      <div class="addthis_toolbox share-this__toolbox">
        <div class="custom_images addthis__custom-images">
          <a class="addthis_button_email extra-small addthis__link cobalt"><img class="addthis__icon" src="{{ base_path ~ directory }}/images/svg/icon-email.svg" /><span class="addthis__text addthis__text--email">Email</span></a>
          <a class="addthis_button_print extra-small addthis__link cobalt"><img class="addthis__icon" src="{{ base_path ~ directory }}/images/svg/icon-print.svg" /><span class="addthis__text addthis__text--print">Print</span></a>
          <a class="addthis_button_link extra-small addthis__link cobalt"><img class="addthis__icon" src="{{ base_path ~ directory }}/images/svg/icon-copy.svg" /><span class="addthis__text addthis__text--copy">Copy Link</span></a>
        </div>
      </div>
    </div>

    {% if content.field_product_slideshow|render %}
      <section class="product-detail__hero">
        {% if num_slides %}
          <div class="product-detail__slideshow">
            {{ content.field_product_slideshow }}
          </div>
          <div class="product-detail__slideshow-nav">
            {% for thumb_url in thumbs_url %}
              <div class="field_product_slideshow"><div class="field_product_slideshow_images"><img src="{{ thumb_url }} " /></div></div>
            {% endfor %}

          </div>
        {% else %}
          <div class="product-detail__hero-image">
            {{ content.field_product_slideshow }}
          </div>
        {% endif %}
      </section>
    {% endif %}

    <div class="product-detail__title .h3">{{ content.field_product_display_title }} </div>
  </section>

  <section class="product-detail__request-pricing">
    <a href="contact/request-pricing-and-more-information" class="product-detail__request-pricing-link">REQUEST PRICING OR MORE INFORMATION</a>
  </section>

  <section class="product-detail__product-info__boundary {{ show_accordion is empty ? 'product-detail__product-info__boundary--no-accordion' }}">
    {% if content.field_product_description|render %}
      <div class="product-detail__description"> {{ content.field_product_description }} </div>
    {% endif %}

    {# only print accordion if any of the accordion fields are populated #}
    {% if show_accordion %}
      <div class="product-detail__accordion">
        <dl class="accordion">

          {# product details #}
          {% if content.field_product_specifications|render %}
            <dt class="accordion-toggle">{{ content.field_product_specifications['#title'] }} <div class="accordion-toggle__icon"></div></dt>
            <dd class="accordion-content">{{ content.field_product_specifications }}</dd>
          {% endif %}
          {# product documentation: sales literature #}
          {{ drupal_view('product_documentation', 'block_product_documentation') }}

          {# product documentation: technical documentations  #}
          {{ drupal_view('product_documentation', 'block_1') }}

          {% if content.field_accessories|render %}
            <dt class="accordion-toggle">{{ content.field_accessories['#title'] }} <div class="accordion-toggle__icon"></div></dt>
            <dd class="accordion-content">{{ content.field_accessories }}</dd>
          {% endif %}
          {% if content.field_product_related_content|render %}
            <dt class="accordion-toggle">{{ 'Related Content'|t }}<div class="accordion-toggle__icon"></div></dt>
            <dd class="accordion-content">{{ content.field_product_related_content }}</dd>
          {% endif %}

          {% if finder.fields|length %}
          <dt class="accordion-toggle">{{ 'Find Your Model Number'|t }} <div class="accordion-toggle__icon"></div></dt>
          <dd class="accordion-content">
            {# this is a pseudo exposed filters form, there is no corresponding view #}
            <form class="views-exposed-form-ex model-number-finder">
              <div class="model-number-finder__boundary">
                {% if node_id %}
                <input type="hidden" value="{{ node_id }}" name="field_filter_node_id" id="field_filter_node_id">
                {% endif %}

                {% set previous_filter = 0 %}
                {% set filter_level = 0 %}

                {% for field in finder.fields %}
                  {% if previous_filter == 'Any' %}
                    {{ _self.filterSelect(field.human_name, field.machine_name, finder.selected[field.machine_name], finder.filters[field.machine_name], filter_level) }}
                  {% else %}
                    {{ _self.filterEmptySelect(field.human_name, field.machine_name, filter_level) }}
                  {% endif %}

                  {% set previous_filter = finder.selected[field.machine_name] %}
                  {% set filter_level = filter_level + 1 %}
                {% endfor %}

                <div class="js-form-item form-item js-model-filter-item js-form-item-filter-model model-finder-results">
                  <div class="model-number-finder__title">Product Number</div>

                  {% if finder.models|length %}
                    {% for model in finder.models %}
                      <div class="model-number-finder__results">
                        <div class="model-number-finder__number">{{ model.name }}</div>
                        <div class="model-number-finder__request-pricing">
                          <div class="product-list-grid__request-pricing"><a href="/contact/request-pricing-and-more-information?specific_model_number={{ model.name }}" class="request-pricing__link">Request Pricing</a></div>
                        </div>
                        <div class="model-number-finder__description"> {{ model.description__value|raw }} </div>
                        <div class="model-number-finder__disclaimer">This model number does not reflect any accessories or related equipment that may be required for your specific application. Consult your Follett sales representative or customer service agent before placing an order.</div>
                      </div>
                    {% endfor %}
                  {% else %}
                    <div class="model-number-finder__results-default">
                      <div class="model-number-finder__message">{{ "Please Choose Options First"|t }}</div>
                    </div>
                  {% endif %}
                </div>
              </div>
            </form>
          </dd>
          {% endif %}
        </dl>
      </div>
    {% endif %}
  </section>
</article>
