.custom-block {
  &__image-link {
    &:hover {
      .custom-block__hover-image {
        opacity: 1;
      }
      .custom-block__base-image {
        opacity: 0;
      }
    }
  }

  &__hover-image {
    opacity: 0;
    position: absolute;

    @include transition(opacity .3s ease);
  }

  &__base-image {
    @include transition(opacity .3s ease);
  }

  &__image-boundary {
    position: relative;
  }
}
