.page_lookup {
  &__form {
    width: 100%;
    position: relative;
    margin-bottom: 16px;

    @include bp(xs) {
      max-width: 280px;
    }

    @include bp(md) {
      max-width: none;
    }

    input[type="text"] {
      @include reset_input();
      height: 40px;
      width: 100%;
      background-color: $black;
      color: $white;
      font-size: 0.75rem;
      line-height: 28px;
      padding-top: 6px;
      padding-bottom: 6px;
      padding-left: 12px;
      padding-right: 25px;
      box-sizing: border-box;

      @include bp(xs) {
        min-width: 280px;
        max-width: 280px;
      }

      @include bp(md) {
        font-size: .875rem;
        min-width: 243px;
        max-width: 243px;
      }

      @include placeholder() {
        color: $white;
        padding-top: 6px;
        padding-bottom: 6px;
      }
    }

    input[type="submit"] {
      @include reset_input();
      position: absolute;
      right: 0;
      top: 0;
      width: 25px;
      height: 100%;
      background: url(#{$path-svg}right-arrow.svg) no-repeat;
      background-position: center;
      background-size: 7px 13px;
    }
  }

  &__info {
    color: $white;
    font-size: 0.875rem;
    padding-bottom: 42px;

    @include bp(md) {
      font-size: 1rem;
    }

    .field_currently_viewing_text,
    .page_lookup__id {
      display: inline-block;
    }

    .field_currently_viewing_text {
      .path-frontpage & {
        display: none;
      }
    }

    .page_lookup__id {
      .path-frontpage & {
        display: none;
      }
    }
  }
}
