.layout-content-top {
  background-color: $dark-navy;
  margin-bottom: 37px;

  @include bp(md) {
    margin-bottom: 30px;
  }

  &__boundary {
    @include boundary();
    padding-top: 66px;
    padding-bottom: 23px;

    @include bp(md) {
      padding-top: 78px;
      padding-bottom: 34px;
    }
  }

  &__stage {
    position: relative;

    &:before {
      content: '';
      height: 1px;
      width: 100%;
      background-color: #5D6D75;
      display: block;
      position: absolute;
      top: -255px;

      @include visible-md();
    }
  }

  #block-follett-page-title {
    color: $white;

    @include bp(md) {
      max-width: 550px;
      width: 100%;
      padding-right: 134px;
    }

    h1 {
      margin: 0;

      &:before {
        content: '';
        height: 7px;
        width: 42px;
        display: block;
        background: url(#{$path-svg}four-dots.svg) no-repeat;
        padding-bottom: 13px;
      }
    }
  }

  .block__breadcrumbs {
    color: $cobalt;
    font-size: 0.875rem;
    display: none;
    margin-right: 100px;
    max-width: 314px;
    widows: 100%;

    @include bp(md) {
      @include align-self(flex-end);
      display: block;
    }

    .breadcrumb-seperator {
      color: $white;
      display: inline;
    }

    a {
      color: $white;
    }
  }
}

.content-top__stage {


  @include bp(md) {
    @include display(flex);
    @include justify-content(space-between);
  }
}
