.share-this {
  &__icon {
    margin-right: 6px;
    position: relative;
    top: 1px;
  }

  &__boundary {
    padding-right: 23px;
    display: inline-block;
    position: relative;
    background-color: white;
    z-index: 1;

    svg g {
      transition: stroke .3s ease;
    }

    span {
      transition: color .3s ease;
    }

    &:hover {
      cursor: pointer;

      .extra-small {
        color: $black;
      }

      svg g {
        stroke: $black!important;
      }
    }
  }

  &__toolbox {
    background-color: $white;
    position: absolute;
    transition: transform .3s ease;
    display: none;
  }
}

.addthis {
  &__icon {
    display: inline-block;
    margin-right: 5px;
  }

  &__custom-images {
    @include display(flex);
    @include flex-direction(column);
  }

  &__text {
    &--email {
      vertical-align: top;
    }

    &--print,
    &--copy {
      vertical-align: super;
    }
  }

  &__link {
    border-top: 1px solid $cool-gray;
    padding-top: 9px;
    padding-bottom: 6px;
    margin: 0!important;

    &:last-child() {
      border-bottom: 1px solid $cool-gray;
    }
  }
}
