.homepage-hero {
  &__boundary {
    background-color: $dark-navy;
  }

  &__stage {
    @include boundary();
    padding-bottom: 70px;
    position: relative;
    padding-top: 40px;
    overflow: hidden;

    @include bp(md) {
      padding-top: 150px;
      padding-bottom: 190px;
    }
  }

  &__welcome-link {
    &:hover {
      text-decoration: none;
    }
  }

  &__welcome-text {
    padding-bottom: 70px;
    position: relative;
    z-index: 1;
    opacity: 0;
    transition: transform 1s ease, opacity 1s ease;
    transform: translateX(-100px);

    .homepage-hero__boundary.animate & {
      opacity: 1;
      transform: translateX(0);
      transition-delay: 1.2s;
    }

    @include bp(xs3) {
      max-width: 500px;
      margin: 0 auto;
    }

    @include bp(md) {
      max-width: 714px;
      transform: translateX(-130px);
    }

    p {
      margin: 0;
    }

    .field_hero_subheading {
      font-family: $base-font-heavy;
      text-transform: uppercase;
      color: $medium-gray;
      font-size: .875rem;
      text-align: center;
      padding-bottom: 15px;
      letter-spacing: 1px;
    }

    .field_hero_body {
      color: $white;
      text-align: center;



      @include bp(md) {
        p {
          line-height: 32px;
          font-size: 1.5rem;
        }
      }
    }
  }

  &__menu {
    position: relative;;
    z-index: 1;

    > ul {
      @include reset_ul();
      @include display(flex);
      @include flex-direction(column);
      @include align-items(center);

      @include bp(md) {
        @include flex-direction(row);
        justify-content: space-between;
      }
    }

    .menu_link__title {
      display: inline-block;
      transform: translateX(-50px);
      opacity: 0;
      transition: transform 1s ease, opacity 1s ease;
      transition-delay: 1.7s;

      .homepage-hero__boundary.animate & {
        transform: translateX(0);
        opacity: 1;
      }
    }

    .menu_link__icon {
      display: inline-block;
      width: 10px;
      height: 20px;
      background: url(#{$path-svg}right-arrow.svg) no-repeat;
      background-size: contain;
      margin-left: 12px;
      transform: translate(-75px, 3px);
      opacity: 0;
      transition: transform 1s ease, opacity 1s ease;
      transition-delay: 1.5s;

      .homepage-hero__boundary.animate & {
        transform: translate(0, 3px);
        opacity: 1;
      }

      @include bp(xs3) {
        width: 18px;
        height: 25px;

        .homepage-hero__boundary.animate & {
          transform: translate(0, 2px);
          opacity: 1;
        }
      }

      @include bp(md) {
        transform: translate(-90px, 2px);
        width: 16px;
        height: 27px;
      }
    }

    li {
      padding-bottom: 50px;

      @include bp(md) {
        padding-bottom: 0;
      }

      &:last-child() {
        padding-bottom: 0;
      }
    }

    a {
      @extend .h1;
      text-transform: lowercase;
      font-family: $base-font-medium;
      color: white;

      @include bp(xs3) {
        font-size: 2.4rem;
      }

      @include bp(md) {
        font-size: 3.25rem;
      }

      &:hover {
        text-decoration: none;
      }
    }
  }

  &__follett-f {
    position: absolute;
    width: 100%;
    left: 0;
    right: 0;
    top: 23px;

    @include bp(md) {
      max-width: 1000px;
      top: 30px;
      left: auto;
    }
  }
}

#follett_f {
  margin-left: 10px;
  margin-right: 10px;

  @include bp(md) {
    margin-right: 70px;
  }
}
