.webform-submission-form {
  border: 1px solid #CBD0D5;
  padding: 40px;
  margin-bottom: 100px;

  label {
    @extend .deck;
    display: block;
    padding-bottom: 20px;
  }

  input[type=text],
  input[type=email],
  input[type=tel],
  input[type=date] {
    font-family: $base-font;
    height: auto;
    font-size: 1.125rem;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid $cool-gray;
    margin-bottom: 40px;
    transition: color .3s ease;
    padding-bottom: 8px;
    color: $dark-navy;
    width: 100%;

    &::placeholder {
      color: #A9B1B7;
    }

    &:focus {
      outline: none;
    }
  }

  fieldset {
    border: 0;
    padding: 0;
    margin: 0;
    min-width: 0;

    > legend {
      @extend .h4;
      font-family: $base-font;
      margin-bottom: 25px;
    }
  }

  input[type=date] {
    width: auto;
  }

  textarea {
    font-family: $base-font;
    font-size: 1.125rem;
    border: 1px solid $cool-gray;
    margin-bottom: 40px;
    width: 100%;
    max-width: 502px;
    padding: 0;
  }

  .js-webform-radios-fieldset,
  .form-composite {
    margin-bottom: 25px;

    > legend {
      margin-bottom: 20px;
    }

    .fieldset-legend {
      @extend .deck;
    }
  }

  input[type=checkbox] + label, input[type=radio] + label {
    display: inline-block;
    position: relative;
    margin-bottom: 15px;
    cursor: pointer;
    transition: color .3s ease;
    font-size: 1.125rem;
    font-family: $base-font;
    text-transform: none;
    letter-spacing: 0px;
    line-height: 18px;
    padding-bottom: 0;
  }

  input[type=radio] + label:hover,
  input[type=checkbox] + label:hover, {
    color: $cobalt;
  }

  input[type=checkbox] + label:hover:before, input[type=radio] + label:hover:before {
    border: 1px solid $cobalt;
  }

  input[type=checkbox], input[type=radio]{
    display: none;
  }

  input[type=checkbox] + label:before, input[type=radio] + label:before {
    display: inline-block;
    vertical-align: middle;
    margin: 0 10px 0 0;
    padding: 2px;
    background: none;
    transition: border 0.2s ease;
  }

  input[type=checkbox] + label:before, input[type=radio] + label:before {
    content: '';
    width: 40px;
    border: 1px solid $cool-gray;
    height: 40px;
  }

  input[type=checkbox]:checked + label:before {
    background: url(#{$path-svg}checkmark.svg) no-repeat center center;
    border: 1px solid $black;
  }

  input[type=radio] + label:before {
    width: 40px;
    height: 40px;
    border-radius: 23px;
    border: 1px solid $cool-gray;
  }

  input[type=radio]:checked + label:before {
    border: 1px solid $black;
  }

  input[type=radio]:checked + label:after {
    content: '';
    position: absolute;
    border-radius: 10px;
    width: 20px;
    height: 20px;
    background: $cobalt;
    margin: auto;
    top: 13px;
    left: 13px;
  }

  .selectboxit {
    width: 100%;
  }
  
  .selectboxit-container {
    border-bottom: 1px solid $cool-gray;
    font-size: 1.125rem;
    color: $dark-navy;
    margin-bottom: 40px;
    width: 100%;

    .selectboxit-options {
      max-height: 240px!important;
      background-color: $white;
      wid
      : 100%;
    }
  }

  .selectboxit-container span {
    max-width: none!important;
  }

  .selectboxit-btn.selectboxit-enabled {
    transition: color .3s ease;
  }

  .selectboxit-btn.selectboxit-enabled:hover {
    color: $cobalt;
  }

  .selectboxit-btn.selectboxit-enabled:active,
  .selectboxit-btn.selectboxit-enabled:focus {
    color: $dark-navy;
  }

  .selectboxit-option .selectboxit-option-anchor {
    transition: color .3s ease;
    padding: 0;
  }

  .selectboxit-option .selectboxit-option-anchor:hover {
    color: $cobalt;
  }

  .selectboxit .selectboxit-option-icon-container {
    position: absolute;
    right: 0;
  }

  .selectboxit .selectboxit-arrow-container .selectboxit-arrow {
    display: block;
    width: 16px;
    height: 8px;
    background: url(#{$path-svg}down-arrow.svg) no-repeat center center;
    background-size: contain;
    transition: transform .3s ease;
  }
  
  .selectboxit-option .selectboxit-option-icon-container {
    display: none;
  }

  .selectboxit.selectboxit-open .selectboxit-arrow-container .selectboxit-arrow {
    transform: rotate(180deg);
  }

  .js-form-type-managed-file {
    margin-bottom: 30px;

    .description {
      font-size: 1.125rem;
    }
  }

  .button-action.webform-file-button {

    @include button-small();
    color: $cobalt;
    font-size: 1rem;

    &:before {
      content: '';
      width: 19px;
      height: 25px;
      display: inline-block;
      background: url(#{$path-svg}icon-upload.svg) no-repeat;
      background-size: contain;
      position: relative;
      margin-right: 8px;
      top: 4px;
       
    }

    &:hover {
      cursor: pointer;
    }
  }
}

.webform-button {
  &--submit {
    @include reset_button();
    @include large-button($cobalt, $white, $black, 5px);

    &:hover {
      cursor: pointer;
    }
  }
}

.input__boundary__input-type-submit button {
  @include reset_button();
  @include large-button($cobalt, $white, $black, 5px);

  &:hover {
    cursor: pointer;
  }
}

.form-item-model-and-serial-numbers .container-inline {
  margin-bottom: 2rem;
}

.model_and_serial_numbers-table--model_number,
.model_and_serial_numbers-table--serial_number {
    @extend .deck;
    padding-bottom: 20px;
    text-align: left;
}

#edit-model-and-serial-numbers--description {
  margin-bottom: 2rem
}

.input__boundary__input-type-add {
  display: inline-block;
  padding-right: 5px;

  button {
    @include button-small();
    color: $cobalt;
    font-size: 1rem;
    border-color: none;
    border-style: none;
    border-width: 0;
    padding: 0;


    &:hover {
      @include underline-animation(5px, $cobalt); 
    }
  }
}